[2017-02-22 04:42] aaroneight opened #1 ""Only variables should be passed by reference in /srv/www/viewfind.com/current/web/app/mu-plugins/controller/src/Loader.php"
I'm currently getting this error.   Any idea why?

[2017-02-22 04:43] aaroneight opened #2 ""Only variables should be passed by reference in /srv/www/viewfind.com/current/web/app/mu-plugins/controller/src/Loader.php""
I'm currently getting this error.   Any idea why?

[2017-02-22 06:07] darrenjacoby commented on #1
Hi @aaroneight, can you please show me the code you're using for your controller (class) and template so that I have better insight and can try recreate?

[2017-02-22 14:29] #2 closed

[2017-02-22 17:05] aaroneight commented on #1
I figured it out...  My path defining a new controller path location in my functions.php was wrong.

[2017-02-22 17:05] #1 closed

[2017-02-22 17:26] aaroneight opened #3 "Unable to get variable in blade template"
Sorry for another message!  I tried recreating the single post images example verbatim for the single controller and blade template (including creating an ACF images field).  However, when I go to the single post, it says `Undefined variable: images`.

When I include `@controller`on the blade template  it outputs the exact same text `@controller`

When I include `@debug`on the blade template it ou

[2017-02-22 18:15] darrenjacoby commented on #3
Hi,

Please could you please send on the exact code you're using and I will be able help. In alpha3 it's @debug(controller) and @debug(dump). @controller has been dropped. It's in alpha so things are bound to change at this stage.

The method name becomes the variable name in snake case.

[2017-02-22 18:22] aaroneight commented on #3
Yes, sorry about that.

Here is my **controller/page.php**

[code]

And then here is my **templates/page.blade.php**

[code]

And here is the notice:
` Notice: Undefined variable: images`

[2017-02-22 18:52] darrenjacoby commented on #3
@aaroneight try rename the controller folder to controllers if you're not redefining the path and let me know.

[2017-02-22 20:24] aaroneight commented on #3
I actually am redefining the path in `functions.php`:

[code]

[2017-02-22 21:30] darrenjacoby commented on #3
I think it's because you're missing a / before src.

[2017-02-22 21:37] aaroneight commented on #3
I've tried with a leading / and trailing / and both to no avail.

I also tried moving the /controllers/ theme root like in the example and disabling custom path, and am still seeing the same error. Hm..

[2017-02-22 21:40] darrenjacoby commented on #3
I will do some debugging tomorrow and try to recreate on my end.

[2017-02-23 04:36] christianmagill opened #4 "Only variables should be passed by reference in ~/Code/Sites/purewater/web/app/mu-plugins/controller/src/Loader/Controller.php on line 46"
I'm receiving the error with a basic test.

templates/page.blade.php

[code]

controllers/page.php

[code]

Everything else is setup via defaults.

[2017-02-23 06:57] darrenjacoby commented on #3
@aaroneight, please download 1.0.0-alpha4.  That should resolve all issues.  Sorry about that.

[2017-02-23 06:58] darrenjacoby commented on #4
@christianmagill please download 1.0.0-alpha4. That should resolve all issues at this stage.

[2017-02-23 16:40] aaroneight commented on #3
Still the same issue with alpha4.

I did disable my custom path and was able to get the variable/s to pass through, however.

[2017-02-23 16:41] aaroneight commented on #4
I'm also getting this notice on alpha4

`Only variables should be passed by reference in /srv/www/viewfind.com/current/web/app/mu-plugins/controller/src/Loader.php on line 76`

[2017-02-23 17:01] christianmagill commented on #4
I'm getting error on alpha4 as well line 76.

[2017-02-23 17:43] darrenjacoby commented on #4
@aaroneight @christianmagill error should be resolved in 1.0.0-alpha5.

PHP function end() throws a warning if a var isn't provided.

https://github.com/soberwp/controller/commit/f8220753ab05a3f493a721b0eabb43e8868f8af5#diff-3864ffe37f3a1de39876ea62cae525f3

Let me know if it resolves the issue.

[2017-02-23 17:46] darrenjacoby commented on #3
@aaroneight I just tested the following and it works as should

`add_filter('sober/controller/path', function () {
    return get_stylesheet_directory() . '/test';
});`

This may not be the case here, but .blade.php files are cached which has got me a few times working on this, so perhaps edit the .blade.php file and see if it resolves.

[2017-02-23 18:32] christianmagill commented on #4
That fixes the issue for me. Much thanks!

[2017-02-23 19:46] #4 closed

[2017-02-24 05:28] aaroneight commented on #3
Works for me now.  I think you are right, there was also some caching of the blade files taking place, obfuscating things.  Thanks!

[2017-02-24 05:28] #3 closed

[2017-02-25 05:19] christianmagill opened #5 "Custom template controller issues."
I've been running into issues with custom templates. Whether I am relying on naming the controller the same or setting the template property, the controller fails to send data to the view.

However, the standard page controller does send it's data.

Thanks for any help you can provide!

templates/faq.blade.php
[code]

controllers/faq.php
[code]

controllers/page.php

[code]

Outputs

[code]

[2017-02-25 07:51] darrenjacoby commented on #5
@christianmagill thanks for flagging this.

The controllers essentially work using the body class, so as a workaround you could add this to the controller;

[code]

I'd like to improve this solution in the next release which I'll be working on this weekend, so I'm going to keep the issue open for now.

[2017-02-25 08:37] darrenjacoby commented on #5
I've just released 1.0.0-alpha6 which should address this.  Your original setup should now work.

I've also added in a singular.php controller option as I use that often, or you could use base.php within controllers/ for global options.

https://github.com/soberwp/controller/commit/d200c7e448777ee0b21a20c6f180f8e8147d3cf2#diff-3864ffe37f3a1de39876ea62cae525f3

[2017-02-25 15:46] christianmagill commented on #5
Thanks for the information and fix!

If the controllers work on the body classes, why not just make this more transparent in the documentation and property name. It's similar to the way Sage handles their javascript routing.

In reality the way you describe the template/controller connection is not exactly right. For instance, a custom page template, with it's own controller, will still incorporat

[2017-02-25 17:26] darrenjacoby commented on #5
@christianmagill sure, it's still in alpha so there's a bit to work through to be honest. I'm working on some changes this weekend and will be testing multiple scenarios and the best way to deal with them. I will update the docs once it's in beta (hopefully soon).

[2017-02-25 17:27] christianmagill commented on #5
Thanks! I appreciate your work on this. I think it's going to be great. Let me know if there's anything I can do to help.

[2017-02-25 18:32] darrenjacoby commented on #5
I will keep this issue open for now, appreciate your feedback so far, will let you know when the next alpha is released.

[2017-02-26 01:34] christianmagill opened #6 "Exposing to all templates not working"
With the recent changes I'm unable to expose a controller to all templates using:

public $template = 'all';

[2017-02-26 08:05] darrenjacoby commented on #6
Fix coming later with many other changes—doing extensive testing today.

[2017-02-26 19:50] #6 closed

[2017-02-26 19:54] darrenjacoby commented on #5
@christianmagill I rewrote large amounts of the plugin today.

I realised that going having template overrides is a bad idea as it quickly becomes a tangled mess.

I've implemented a more sane structure, while still allowing components through traits.

Here's an implementation example;

[code]

[2017-02-26 23:42] christianmagill commented on #5
How is the determination made as to which templates load which controllers? Is it just anything that is a body class? Thanks for your work on this. I'm out tonight but will test out tommorow.

[2017-02-27 03:36] christianmagill commented on #5
Okay, I noticed updated documentation in read me and that helped clear up some things.

The only thing I'm not completely clear on is "Inheriting the Tree/Heirarchy". Where do these co trollers come from and do they stack on top of each other according to the template hierarchy. You mention singular, but there is no "singular" in the template hierarchy. Is thay in reference to the associated body

[2017-02-27 06:19] darrenjacoby commented on #5
@christianmagill it works on the filename.  If there is a faq.blade.php within templates, then faq.php would work.

I will be testing the Tree more today and will provide more examples.  Essentially it's going to aim at following this, https://developer.wordpress.org/files/2014/10/template-hierarchy.png

So if you had templates/single.php and templates/page.php, you could use controllers/singular.

[2017-02-27 07:32] darrenjacoby commented on #5
@christianmagill the standard WordPress hierarchy has been implemented in 1.0.0-beta1.  If you inspect the body class on a page, you will notice *-data classes;

![image](https://cloud.githubusercontent.com/assets/15921694/23352344/3f77b7dc-fccf-11e6-844a-7f40368ed717.png)

All classes with *-data can become controller files (omitting -data from the filename), with the latest one always overriding

[2017-02-27 08:21] christianmagill commented on #5
Great. I was unfamiliar with the addition of singular.php to the template hierarchy which caused some confusion. The way you have things setup seems very powerful and well organized. Can't wait to try it out.

[2017-02-27 13:48] #5 closed

[2017-02-28 02:36] christianmagill opened #7 "Base controller issues"
The base controller doesn't work without another matching controller for the template being loaded.

If I just have a base.php controller then the variables are not available to the page.blade.php template or even the base.blade.php template. However, if I create a page.php controller with a dummy function, the base controller variables become available.

Other than that things seem to be working

[2017-02-28 06:25] darrenjacoby commented on #7
Thanks for flagging this!

I didn't consider that scenario but it's def a valid one.

It's a quick fix so will upload a new ver soon.

[2017-02-28 07:11] darrenjacoby commented on #7
Just committed 1.0.0-beta1.1 which will fix.

[2017-02-28 19:10] aaroneight opened #8 "App\sage not defined when deploying using Trellis"
I'm deploying using Trellis, and since Controller is a mu-plugin, I'm guessing that it gets enabled before Sage is enabled and as such is throwing a fatal error during a trellis deploy process, thereby exiting the deploy.

`PHP Fatal error:  Uncaught Error: Call to undefined function App\\sage() in /srv/www/viewfind.com/releases/20170228183833/web/app/mu-plugins/controller/controller.php:46`

Can

[2017-02-28 19:23] darrenjacoby commented on #8
Hey @aaroneight cool, I will take a look at this tomorrow. Just appears to the debugger calling the Blade directive.

[2017-02-28 19:49] darrenjacoby commented on #8
@aaroneight just pushed 1.0.0beta1.2 with a check to see if the function is defined, let me know if that works.

[2017-03-01 08:38] #7 closed

[2017-03-01 08:38] #8 closed

[2017-03-01 13:25] christianmagill commented on #7
Thanks

[2017-03-14 06:16] jajouka79 opened #9 "post loop?"
great package, excellent addition for bedrock / sage. i have functions in src/single.php in which i am trying to output get_the_content() and post_class(), they are both empty, the_title is not empty. is this because its not inside of the loop?

[2017-03-14 07:59] darrenjacoby commented on #9
@jajouka79 thanks, I've only just noticed that the $post object only get's passed on pages and not posts.

I'm going to update the Controller to include $post by default for posts, in the meanwhile, this will work within your controller;

[code]

[2017-03-14 09:05] jajouka79 commented on #9
great thanks

[2017-03-14 09:17] #9 closed

[2017-03-14 22:58] jajouka79 opened #10 "archive templates"
i am trying to make the blade vie tpl files as easy to use as possible for designers. I really like the way that the controller allows us to use a variable to call a function, and trait work really well for partials. however i could do with a bit of guidance on how to use the archive comtrollers/views, like archive.php or even archive-news_article.php or even index.php.i

so far i have this -

_sr

[2017-03-14 23:42] slackday commented on #10
Disclaimer: I do not use this controller yet but I've been following it and will try it on my next project.

However I started using Sage with Blade recently and I took a similar approach as this plugin. I'll try explain how I did it by modifying your code. Maybe it can help you. And I will follow this thread for the "real" answer and hopefully learn about this plugin :)

In my opinion you shouldn

[2017-03-15 08:06] darrenjacoby commented on #10
@jajouka79 there are a few ways to accomplish this, I'm going to set up your use case locally and then will respond in full once I've tested.

[2017-03-15 12:37] darrenjacoby commented on #10
If, all you are trying to do, is modify the excerpt, I would recommend you rather use a filter for the function https://codex.wordpress.org/Plugin_API/Filter_Reference/get_the_excerpt as per normal.

You could then just use archive.blade.php like this, for each post.

[code]

No need for a controller method then.

If you would like to stick with your approach, by modifying the $post objects, you c

[2017-03-15 15:16] darrenjacoby commented on #10
Hey @jajouka79 @slackday

So I've updated Controller to 1.0.2 which I think addresses this use case much better.

You can now use `public static function` and reference from within the Blade template.

**src/controllers/Archive.php**

[code]

**templates/archive.php**

[code]

[2017-03-15 15:18] slackday commented on #10
Cool this is very clean! Good job

[2017-03-15 15:23] #10 closed

[2017-03-15 17:02] jajouka79 commented on #10
im not sure i explained myself clearly, i want a single word command for designers to use. excerpt was a bad example to use, it could be $authors_age. i already have $post['authors_age'] working. in the content partial, i wanted $authors_age to work

[2017-03-15 17:06] darrenjacoby commented on #10
@jajouka79 the method name becomes the variable name.  You would need to then have a separate method for $authors_age.  I would recommend making the array an object and then simply using $post->authors_age

[2017-03-15 17:32] jajouka79 commented on #10
ive done this, i know that i need method authors_age(), I have tried this in the archive.php in a trait, i have tried passing variables to it, and I have tried passing the post data through from archive.blade.php in the include to content.blade.php, I can't get it to work

[2017-03-15 17:35] darrenjacoby commented on #10
@jajouka79 I'll need to see the actual code to replicate.  Is it on GitHub?

[2017-03-16 08:09] jajouka79 commented on #10
there's no code to show other than whats in my original post. i have tried lots of code but nothing that works. in single and page templates designers can easily use a variable that calls the corresponding method e.g. $coach_age. but when they get to the list templates like archive.php or archive-coach.php they have to use $post->coach_age. if you have 10 designers all at different levels of abili

[2017-03-16 08:42] darrenjacoby commented on #10
@jajouka79, easiest is to go with @slackday recommendation.

Controller;
[code]
Template;
[code]

[2017-03-16 08:59] darrenjacoby commented on #10
You could also use $post->coach_age in single.php by modifying the $post object in the Single controller.

I think your use case may be out of scope for this plugin, as in a way, this relates more to the way WordPress handles loops.

If you're only giving designers access to the partials, the above method does work.

[code]

You could now access $post_excerpt within the partial.

[2017-03-17 22:51] jajouka79 commented on #10
@forelse($posts as $post)
            @php(extract($post))
            @php (extract($post['post_meta']))
            @include ('partials.content-'.(get_post_type() !== 'post' ? get_post_type() : get_post_format()))

        @empty
            <div class="alert alert-warning">
                {{ __('Sorry, no results were found.', 'sage') }}
            </div>
        @endforelse

this makes the v

[2017-03-17 22:54] jajouka79 commented on #10
i have a lot of traits that work great for single / page templates, for eg, featured images, post classes, post meta. however i can't get them to work with archive templates. is there a way to pass a post id to the traits so i can use them with lists?

[2017-03-18 12:34] darrenjacoby commented on #10
@jajouka79 you could use static functions within the trait.  I think that will be the only way to pass on the post id.

[2017-03-19 00:25] christianmagill opened #11 "Using constructor to pull data?"
My intent was to use a simple constructor on my controller to pull in all the ACF field data for the page and store in a protected $fields property which could be accessed by the controller methods.

Unfortunately, this does not seem to be working. I'm not sure why, but I also created the below non ACF test which also does not work.

[code]

Any ideas?

[2017-03-19 08:06] darrenjacoby commented on #11
That's one caveat.  The __construct is reserved for the parent.  But, by default, Controller does execute all functions within the class.  So you could simply use a protected or private function and it should work.

[code]

[2017-03-19 12:51] christianmagill commented on #11
Alright, I'll use "init" just for the sake of consistency. This should probably be mentioned in the documentation somewhere.

[2017-03-19 20:25] darrenjacoby commented on #11
@christianmagill true, I might re-write the Controller __construct to use a more arbitrary method name—so expect this to change in the next release.

[2017-03-28 16:39] christianmagill opened #12 "base.blade.php renaming to app.blade.php"
This will probably effect things when the change gets merged.

https://github.com/roots/sage/pull/1864/commits

[2017-03-28 16:44] darrenjacoby commented on #12
@christianmagill thanks for the heads up.  I will track this and update when it's merged.

[2017-04-01 21:58] jajouka79 opened #13 "traits"
ive got a trait that require data set in another trait, when i try to use trait 1 inside trait2, i get an not found error. is it possible to do this?

[2017-04-02 16:15] darrenjacoby commented on #13
@jajouka79 have you tried creating a function within trait1 to return the data? (getter function).

Otherwise, the issue may be that the file for trait2 is being included before trait1, you could try rename trait1 to be alphabetically before trait2.  I know that's not ideal, but let me know if that works and I'll see if I can implement some kind of include override option.

[2017-04-03 21:07] darrenjacoby commented on #11
@christianmagill did you get this working?

I'm working on a project now and it seems that I have encountered the same issue which could be a pretty large oversight on my behalf.

[2017-04-03 21:20] christianmagill commented on #11
I haven't, got pulled into another project so will be revisiting the issue later.

I was also wondering whether there would be any issues with directly adding to the data array via such a constructor method. Like if you wanted to pull all ACF fields and make them accessible with an enclosing array.

[2017-04-03 21:23] darrenjacoby commented on #11
OK, I'm going to fix this tomorrow.  It's a large oversight.  Controller should run all protected and private functions, in their current order, automatically.

If I understand correctly, I think that's exactly what I'm trying to do at the moment actually.

[code]

[2017-04-03 21:37] christianmagill commented on #11
Do you think it's appropriate to run all methods automatically?

Some of the methods might simply be the result of refactoring, and not meant to work out of context.

I'd suggest to make behavior more predictable either:

- Allow use of __constuct() with documentation that the first line must call parent::__construct()
- Provide a pseudo constructor, for example: init() which could be used to boot

[2017-04-03 21:41] darrenjacoby commented on #11
I started working on this now and I agree.

I think a pseudo constructor might be the cleanest (__init for example), although it would be ideal to use __construct for consistency.  I just wish there was a way to not have to use parent::__construct().

[2017-04-03 21:46] christianmagill commented on #11
Yeah, I see what you're saying. Either way though there is some learning to be done. I kind of prefer the __construct method with parent::__construct() as it is less magical.

Knowing that the class extends Controller, you expect their to be a parent constructor. You wouldn't expect an __init method without learning it from the documentation. When I first was first trying to implement, my first th

[2017-04-03 21:48] darrenjacoby commented on #11
Cool, thanks for the feedback.  I will find the best solve tomorrow, but I agree with your line of thinking.

[2017-04-04 08:55] darrenjacoby commented on #11
@christianmagill I've implemented this in dev-master and 9.0.0-beta2.  You can now use __construct in the child Class.  No need to use parent::__construct() either.

[2017-04-04 08:55] #11 closed

[2017-04-04 09:00] darrenjacoby commented on #12
@christianmagill this was merged into Sage 9 dev-master a few hours ago.  I have aligned the versioning of Controller to the same as that of Sage.  So you can use `composer require soberwp/controller:dev-master` to use with Sage dev-master.

[2017-04-04 09:00] #12 closed

[2017-04-04 09:02] darrenjacoby commented on #13
I have given this thought, and feel best practice would be to not require traits within traits.  It's going to become a mess quick.  I would recommend creating traits that return values in a way that you can use them within the Controller together.

[2017-04-04 17:23] monstertuning commented on #13
yes, i've come to this conclusion also. making traits dynamic with external methods will work ok for now, thanks

[2017-04-04 18:33] #13 closed

[2017-04-05 16:57] slackday opened #14 "Variables from controllers/base.php not accessible in template"
I'm using Sage 9.0.0-beta.2 and also the compatible version of this controller. Which I really like a lot btw :)

Reading the documentation about global variables I'm experiencing an issue.

I have created a simple `base.php`controller which looks like following:

[code]
I also have controller `controllers/page.php` which runs.

If I `var_dump` inside the controller I can see that the code is runn

[2017-04-05 19:14] darrenjacoby commented on #14
Hi @slackday thanks for the feedback.  It sounds like a bug to be honest, base should be included in all files.  I'll try to recreate on my side and then revert as soon as I can.

[2017-04-07 21:03] darrenjacoby commented on #14
@slackday I've tried to recreate this on my end, but it's working as should.  The variables from `src/controllers/Base.php` are useable in `templates/partials/footer.blade.php`.

Could you perhaps provide me with more information/code to try debug?  Can you show me the templates code?

[2017-04-09 14:46] vdrnn commented on #14
@darrenjacoby @slackday I tested this a bit further and figured out that there is a problem with camelCase function names. So if my function in the controller is named `foobar` and I call it in the template `$foobar` everything works. If I name the function `foobarTest` and call `$foobarTest` I get the following error:

[2017-04-09 16:48] darrenjacoby commented on #14
@vdrnn the camelCase function name is converted to snake_case in the view.  This is the intended behavior as snake case is commonly used in PHP.  If you run @debug in the view it will output the correct variable name to use.

[2017-04-09 20:21] vdrnn commented on #14
@darrenjacoby bam! that was it. Thanks! 👍

[2017-04-09 20:23] darrenjacoby commented on #14
@vdrnn no problem!

[2017-04-10 17:00] slackday commented on #14
I'm not sure how I would create example. Do you mean setup a separate repo with code example?

What I've done is install sage theme 9.0.0-beta2

Install this plugin beta 9.0.0-beta2 as instructions in readme.

Create folder in sage theme called `controllers`. Add two controller files `base.php` `page.php`. (lower case but this seems to work the same independant of casing)

`controllers/base.php`
[

[2017-04-13 21:16] darrenjacoby commented on #14
@slackday

I've looked into this and you are right, there is a bug in the code.  I'm in the process of fixing and will push a new version by tomorrow.

This issue applies to both beta2 and master so thanks for picking it up.

[2017-04-13 21:35] darrenjacoby commented on #14
Fixed, you can upgrade to 9.0.0-beta2.1 and this should now work.

[2017-04-13 21:36] #14 closed

[2017-04-23 01:49] rorymcdaniel opened #15 "Upgrading Sage 9 project to Beta 3"
I described my problem here, I'm not sure if this is an issue with the plugin and Sage moving to beta 3, or if I've just done something wrong.

https://discourse.roots.io/t/upgrading-sage-9-project-to-beta-3-with-soberwp-controller/9445

[2017-04-23 07:42] darrenjacoby commented on #15
@rorymcdaniel I'm looking into this now, and will release a new beta3 release/tag.

[2017-04-23 08:23] darrenjacoby commented on #15
@rorymcdaniel you can grab the latest 9.0.0-beta3 release and custom templates should work again—let me know if it solves it for you.

[2017-04-23 18:07] rorymcdaniel commented on #15
Worked perfectly, thanks!

[2017-04-23 19:14] #15 closed

[2017-04-26 21:49] vdrnn opened #16 "Controller not passing data to WooCommerce template"
I'm trying to pass data from App.php controller to the WooCommerce templates.
The templates structure is setup as described in this post: https://discourse.roots.io/t/latest-sage-9-blade-and-woocommerce/9462

There is a woocommerce.blade.php in views and the archive-product.php and single-product.php in views/woocommerce.

Not 100% sure if it's really a controller issue though?

[2017-04-27 06:40] vdrnn commented on #16
Because the woocommerce templates are not blade templates. I figured out :(

[2017-04-29 10:04] vdrnn commented on #16
Now I have the following template structure.

`/resources/views/woocommerce.blade.php` which looks like this:

[code]

And I have `/resources/views/woocommerce/archive-product.php` which contains

`<?php echo App\Template('woocommerce');
`

When not on the shop (https://myproject.dev/shop) I get the data that I'm calling from the `App.php` controller, specifically ACF data.

Output of `@debug('con

[2017-04-29 10:09] darrenjacoby commented on #16
Hey @vdrnn , could you check out the body classes for the woocommerce archive product page?  I just want to see what it's passing on.

Then, would it be possible to upload your current theme/setup to GitHub?

I haven't tested Controller with WooCommerce so it would be good to do some testing there.

[2017-04-29 10:17] vdrnn commented on #16
@darrenjacoby nice, thanks for the quick reply.

These are the body classes `archive post-type-archive post-type-archive-product logged-in admin-bar bg-cover woocommerce woocommerce-page app-data archive-data archive-product-data customize-support`

The project is on Github already, I will invite you to the project, so you can have a look around and test it yourself.

[2017-04-29 10:19] darrenjacoby commented on #16
@vdrnn thanks!

Looks like the classes are being passed correctly so that's a good start.

[2017-05-08 01:01] samburgers opened #17 "file paths"
Hi, this looks really great.

just wondering if
`resources/controllers/single.blade.php`
should read
`resources/views/single.blade.php`
in the readme?

[2017-05-08 06:06] darrenjacoby commented on #17
Hi @samburgers ,

Thanks for picking up on that, I've corrected the readme.

[2017-05-08 06:06] #17 closed

[2017-05-11 20:10] MWDelaney commented on #16
Did you guys ever get anywhere on this? I'm having the same problem.

[2017-05-11 20:15] darrenjacoby commented on #16
Hi @MWDelaney,

No solution exists at the moment unfortunately.

I did do some testing, and it seems, even with a basic setup of passing data to the template it doesn't work (ie. not using the Controller, but just trying to pass using the basic filter)

[code]
Controller relies on this filter to pass content, so I'm uncertain at the moment if the fix should come from within Controller, or from the

[2017-05-11 21:02] MWDelaney commented on #16
Darren,
Thanks for the quick response. I've moved my necessary controller-type variable settings into my template files for now. Hopefully there will be a solution eventually! Let me know if I can be of any assistance testing solutions.

[2017-05-12 16:41] christianmagill commented on #16
@MWDelaney I'd suggest raising the issue at the Sage repo.

[2017-05-13 12:41] strarsis opened #18 "Debug Bar Extension?"
This plugin offers some debug functions (https://github.com/soberwp/controller#blade-debugging),
wouldn't it make sense to add an extension plugin for the [Debug Bar plugin](https://wordpress.org/plugins/debug-bar/)?

[2017-05-13 13:30] thomascharbit opened #19 "Adding actions and filters"
Hi,

I was wondering if Controller could be used to also run actions and filters for specific templates?

For example on an archive template I might need to change default query with pre_get_posts, change excerpt length, etc.

Using the hierarchy to run them makes sense, so can we use Controller for this?

Thanks!

[2017-05-13 18:47] darrenjacoby commented on #19
Hi @thomascharbit,

At the moment that is not possible.

You could however place the filters in src/ and use conditional tags to target specific templates. You could also use a custom public static function to alter a loop or excerpt length and call that instead of using a filter.  I would encourage this method if possible.

However, I will see if I can work into the scope of Controller.

[2017-05-15 14:52] christianmagill opened #20 "Naming with hyphens?"
I see the naming strategy has been changed.

How do you name controllers whose templates include hyphens? For example template-faq.blade.php

Thanks

[2017-05-15 14:54] christianmagill commented on #20
Additionally what does the class name become? Thanks

[2017-05-15 17:01] darrenjacoby commented on #20
Hi @christianmagill,

You can use the original naming or the new naming.

The filename and classname for the example you gave would be TemplateFaq.php and classname TemplateFaq

Essentially it works with camel case now as well.

[2017-05-15 19:22] #20 closed

[2017-05-17 10:09] thomascharbit commented on #19
Hi Darren,

Thanks for your answer, i understand the solutions you proposed but i still think there is room for improvement :) Hope to see this implemented maybe someday!

[2017-05-17 10:12] darrenjacoby commented on #19
I'm going to close for now, but will give this some work/thought to see how it could be implemented within the Controller.

[2017-05-17 10:12] #19 closed

[2017-05-17 10:14] darrenjacoby commented on #18
Hi @strarsis

I will take a look at the debug bar and see if extending it is possible for Controllers use case.

I'm going to close the issue for now.

[2017-05-17 10:14] #18 closed

[2017-05-17 10:16] darrenjacoby commented on #16
Has anyone created this issue at the Sage repo?  Else I will raise an issue there so we can try get this fixed.

@vdrnn @MWDelaney

[2017-05-17 13:09] MWDelaney commented on #16
I have not. I've been too busy :) @darrenjacoby

[2017-05-28 11:25] samburgers opened #21 "Non-Sage usage?"
Hi, any interest in making Controller compatible with this blade plugin? I have setup a fresh theme with bladerunner and laravel-mix, and was hoping controller would work too :)

https://github.com/ekandreas/bladerunner

edit: using bedrock/trellis still, just not sage

[2017-05-29 10:51] darrenjacoby commented on #21
Hi @samburgers

I know that Toby, who is also active in the Roots community is looking into adapting for non Sage use. I've got the gist and will take a look at possibly working this into Controller.

I will let you know once I take a look.

[2017-05-29 11:35] samburgers commented on #21
unreal, thanks @darrenjacoby !

[2017-05-29 20:13] dalenguyen opened #22 "Blade template doesn't work on my Sage 9"
Hi,  I am testing the plugin on my Sage 9 theme. However, there is a problem that I couldn't find the answer. When I follow the instruct to create an example to expose _$images_ to _resources/views/single.blade.php_

However, my page doesn't recognize the blade template and displays the raw content of the blade instead of showing an error or something like that.

My code is at: https://github.com/

[2017-05-29 20:20] darrenjacoby commented on #22
Hi @dalenguyen

You're including Controller as a theme dependency.  At the moment it is still a mu-plugin and needs to be used as such. Having said that, I will be changing this repo over to a theme dependency this week. You can watch this repo or follow me on twitter to keep updated when it happens.

[2017-05-30 15:00] dalenguyen commented on #22
Thanks @darrenjacoby for your explanation.

[2017-05-30 17:30] #22 closed

[2017-05-30 18:33] darrenjacoby commented on #22
@dalenguyen I've scheduled the change from mu-plugin to theme dep for this coming Friday.

So the code you used should work by end of the week.

[2017-05-30 18:34] darrenjacoby commented on #21
@samburgers I'm going to close this for now, but I'll be taking a look soon at our possibilities for opening up usage to standard WP installs.

[2017-05-30 18:34] #21 closed

[2017-06-03 16:36] Log1x opened #23 "Cannot redeclare Sober\Controller\debugger()"
It looks like since the update a few hours ago, you setup `autoload` in `composer.json` to autoload the plugin, but are still declaring `"type": "wordpress-muplugin"` thus the plugin is installing into `/mu-plugins/` and being loaded by WordPress as well as Composer resulting in an error.

I can see how this could be overlooked as Sage 9 doesn't ship with `installer-paths` set in `composer.json` l

[2017-06-03 21:33] darrenjacoby commented on #23
Sorry, that's an oversight.

Please try del, clear cache and re-install.

[2017-06-03 21:50] Log1x commented on #23
Should be good now. Thanks!

[2017-06-03 21:50] #23 closed

[2017-06-05 17:29] christianmagill commented on #11
Thanks for this! How are overwrites handled across the constructed data and the method names? Also how is it handled across the template hierarchy.

Thanks

[2017-06-05 17:42] christianmagill commented on #11
Also, is there a way to add to the Controller data that will be sent to view.

Currently, $this->data is protected.

public function __construct(){
   $fields = get_fields();
   $this->data = array_merge($fields, $this->data);
}

Maybe a private __mergeData() method would useful.

[2017-06-07 10:54] iljamm opened #24 "Call to undefined function Sober\Controller\add_action()"
Just installed controller using

`composer require soberwp/controller:9.0.0-beta.3`

and getting the following error across the whole project

**Error: Call to undefined function Sober\Controller\add_action() in /srv/www/myproj/current/vendor/soberwp/controller/controller.php on line 36**

[2017-06-07 11:22] darrenjacoby commented on #24
Hi @iljamm

That is strange, I will investigate today and let you know.

[2017-06-07 12:23] iljamm commented on #24
Sorry my bad, i installed in a wrong composer file. When I required it in the theme's composer all worked as expected. May be it could be made a tad more prominent in the documentation, which composer file should be used. I realised you said that in the following sentence:
"Please note that Controller is no longer an mu-plugin and is now a Composer theme depedency."

IMHO addition of dummy path to

[2017-06-07 12:23] #24 closed

[2017-06-07 12:38] darrenjacoby commented on #24
Thanks, noted, I will update the README file to make it more obvious.

[2017-06-11 20:25] treyduffy opened #25 "9.0.0-beta.3 controller.php missing plugin headers - uninstallable"
Can't install beta.3 using any normal methods.

From Sage 9 empty theme I have no way of updating to beta3. Adding the repository directly to my composer.json will install it into ../../plugins/controller (from inside theme dir), but the controller.php is lacking a plugin header so it won't activate. After manually adding the Plugin header and activating it complains that it's missing dependencies

[2017-06-12 07:47] darrenjacoby commented on #25
@treyduffy Controller is no longer a mu-plugin, it is now a Sage theme dependency.

You should be able to remove the repositories object in your example above and it should work.

[2017-06-12 15:36] osadler commented on #16
@MWDelaney I've had this issue. Replace `<?php echo App\Template('woocommerce');` in archive-product.php and single-product.php with:
[code]

[2017-06-12 18:46] darrenjacoby commented on #16
Thanks for this @osadler

I'll see if there's a way to include this in Controller somehow.

[2017-06-13 04:23] christianmagill opened #27 "Make "data" property protected instead of private"
Making the "data" property protected instead of private would make it easier to add data in bulk via the constructor. This would be useful for pulling all ACF fields at once, or pulling in additional data from database or API.

[code]

[2017-06-13 08:11] darrenjacoby commented on #27
No problem, I will change.

[2017-06-13 08:11] #25 closed

[2017-06-13 09:09] iljamm opened #28 "Index.php is missing from hierarchy for categoreis"
This is the output of hierarchy debugger for one of category pages in one of my projects:

[code]
I would expect there to be an index.php just above archive.php to comply with the default wp template hierarchy. Is index.php omitted intentionally?

[2017-06-22 18:55] darrenjacoby commented on #28
Hey @iljamm , I'll look into this over the weekend.

As a general rule, app.php does apply to all templates, like index.php would.

However, app.php is extended to all views by default, whereas I suppose index.php would be overwritten by a more specific template.  Is that the particular use case you are after?

[2017-06-22 19:00] darrenjacoby commented on #27
@christianmagill this is in the latest dev-master version.

https://github.com/soberwp/controller/commit/ea49978b1889f6ab57068e3746a5c4dd5bbafb80

[2017-06-22 19:01] #27 closed

[2017-06-25 13:14] darrenjacoby commented on #28
@iljamm Index.php now works for all routes.  Unline App.php, it can be overridden with more specific templates. Closing.

[2017-06-25 13:14] #28 closed

[2017-06-25 14:53] darrenjacoby commented on #16
@osadler @MWDelaney @christianmagill @vdrnn

I've created a pull request on Sage which would add support for Controller and WooCommerce.  No other code changes or Controller updates would be required.

https://github.com/roots/sage/pull/1914

[2017-06-27 22:11] ben-sharp opened #30 "@debug directives print in plain text"
[code]
Each line in my view outputs in plain text on the page. I am running Sage 9.

Am I missing any instructions other than installing this package in my sage theme directory via Composer?

Please let me know if I can provide any more information that may be helpful, thanks.

[2017-06-28 19:44] darrenjacoby commented on #30
Sounds right, how were you expecting the output?

[2017-06-28 20:52] ben-sharp commented on #30
As per the readme I was expecting to see the lists echoed out mentioned in the `Blade Debugging` section, but only see the directives themselves being printed. I just have those 3 lines at the top of my view `front-page.blade.php`, is my usage incorrect? I just wanted to see what they produce for future debugging.

Cheers

[2017-06-28 20:54] darrenjacoby commented on #30
Hmm, ok, doesn't sound right.  Can you send through a screengrab perhaps, and the code? I will see if I can try to replicate.

[2017-06-28 21:13] ben-sharp commented on #30
I took these steps:

- In my `sage` theme folder: `composer require soberwp/controller:9.0.0-beta.3`
- Created directory `themes/sage/resources/controllers/`
- Copied the example `App` controller, named `App.php` inside above mentioned `controllers` directory

Here is a screengrab of my view and controller:
![screen shot 2017-06-29 at 9 09 51 am](https://user-images.githubusercontent.com/7728680/2

[2017-07-01 07:45] 9585999 opened #31 "@debug('dump') style"
How do you look at adding styles to debug('dump') and making it look something like this?

![img 2017-07-01 10 42 12](https://user-images.githubusercontent.com/16165904/27760192-2dac5b2a-5e4a-11e7-9c9f-83404a80eea0.PNG)

In this form, the information is more readable ...

[2017-07-10 09:35] darrenjacoby commented on #31
@9585999 I've tried to keep the Controller as lightweight as possible. I'll take a look at what would be involved, but would likely prefer sticking with the default var_dump style.

[2017-07-10 09:35] #31 closed

[2017-07-10 09:36] darrenjacoby commented on #30
@ben-sharp did you manage to get this working? I haven't been able to recreate.

[2017-07-10 12:37] 9585999 commented on #31
@darrenjacoby These styles do not have to be permanently connected, you can only include them in development, for example, make them dependent on the value of the constant WP_DEBUG, ie if WP_DEBUG === 'true', which is usually done during development, styles are connected, otherwise there are no styles ...

[2017-07-11 23:13] ben-sharp commented on #30
@darrenjacoby pardon the late response, the fault was on my end with a different composer setup.

[2017-07-12 07:11] #30 closed

[2017-07-17 08:57] nathobson opened #32 "Passing multiple variables from controller function to view"
Firstly, thank you SO much for your work on the controller project. It's taking me a little bit to get to grips with it all but slowly getting there!

To help get up to speed with Blade in general, I've been watching the Laracast videos, specifically Laravel 5 Fundamentals. In the video Passing Data to Your Views (https://laracasts.com/series/laravel-5-fundamentals/episodes/4), passing multiple va

[2017-07-17 14:38] 3runoDesign opened #33 "Without Sage"
Is there any way to use without Sage?

I can use it by changing the lines:
https://github.com/soberwp/controller/blob/master/controller.php#L13
https://github.com/soberwp/controller/blob/master/controller.php#L26

[2017-07-19 10:35] nathobson commented on #32
I guess the first example could be shortened to (controller):

[code]

[2017-07-24 18:33] darrenjacoby commented on #33
I am open to a PR for adding this functionality.  I know there has been some interest from others to add. Alternatively I could look into it in the next month or so.

[2017-07-24 18:36] darrenjacoby commented on #32
Sorry @nathobson, I've been on vacation.  That looks right to me.

If you're in a loop then you can use https://github.com/soberwp/controller#using-static-methods

[2017-07-24 18:36] #32 closed

[2017-07-24 18:36] darrenjacoby commented on #16
This issue has been closed on the Sage repo and documentation will be added in time.

[2017-07-24 18:37] #16 closed

[2017-07-27 19:02] christianmagill commented on #20
I'm having trouble getting camel case to work in a project. Using latest Sage.

template-products.blade.php
TemplateProducts.php
class TemplateProducts

![body-classes](https://user-images.githubusercontent.com/2133370/28687506-a177e94c-72dc-11e7-9f6e-6992103e8607.png)

[2017-08-03 13:48] MWDelaney opened #36 "How are you creating files?"
Hey, man.
I'm trying to follow your example in Controller to add a directory with a couple of files to Sage upon `composer install` (or whatever trigger you're using), and I'm not sure where else to get a hold of you :)

I can't for the life of me find where you're creating these folders and files.

Can you point me in the right direction? How are you doing this? It's cool and I want to do it, too

[2017-08-03 13:54] #36 closed

[2017-08-03 13:54] MWDelaney commented on #36
Ugh. Never mind. I'm an idiot.

[2017-08-03 16:01] dmgawel opened #37 "Custom Template Controller"
Hi!

**TL;DR**
By the way WordPress saves custom page template path and how Sage expands it into possible template files one cannot create Controller based on page template file name.

**Current behavior**
Let's say we have a custom page template located in `views/template-custom.blade.php`. The following is available controller hierarchy:

[code]

**Expected behavior**

Controller hierarchy shoul

[2017-08-03 16:46] dmgawel commented on #37
I've also opened an issue in Sage: https://github.com/roots/sage/issues/1936

[2017-08-03 17:06] alwaysblank commented on #37
Maybe I'm misunderstanding the issue, but I just build a project that made extensive use of controllers for custom page templates. My file organization looked like this:

**Template:**
`resources/views/template-science.blade.php`

**Controller:**
`resources/controllers/views/TemplateScience.php`

That worked as intended, with no other modifications on my part. Is there something I'm missing?

[2017-08-03 17:32] dmgawel commented on #37
@alwaysblank that's weird. Could please you add `@debug('hierarchy')` to your template and paste the output?

[2017-08-03 17:43] alwaysblank commented on #37
[code]

[This line](https://github.com/soberwp/controller/blob/master/src/Loader.php#L84):
[code]
in `Loader.php` converts from camelCase to the dash-case WordPress expects so that it can match correctly, which (I think) is why it appears as dash-case in the debugger and not camelCase.

[2017-08-03 17:54] dmgawel commented on #37
I've created the files as described by you but it's not working. Here is my hierarchy debug:

[code]

Looks that there are some differences between our codebases. I'm using Sage dev-master (9.0.0-beta4). What are your versions of Sage and controller?

[2017-08-03 18:03] derdeedas commented on #37
Same issue here running sage 9.0.0-beta.4

[2017-08-03 18:05] alwaysblank commented on #37
I'm using a slightly modified version of Sage that's pretty close to 9.0.0-beta3. None of my modifications should affect template name resolution, though. Controller is at 9.0.0-beta.3.

[2017-08-03 21:12] derdeedas commented on #37
Downgraded Sage & Controller to 9.0.0-beta3, still the same issue 😞

[2017-08-04 07:38] darrenjacoby commented on #37
Hi all,

I will see if I can reproduce and resolve today. It should be working as per @alwaysblank implementation.

[2017-08-04 16:14] thomascharbit opened #38 "Controllers direcory"
Just a thought, but shouldn't the `controllers/` directory be by default under `app/`?
So `app/controllers/` instead of `resources/controllers`, like Laravel does?

I know there is a filter for this, but i see that this package is now shipped with Sage 9, and because Sage seems to follow Laravel philosophy and file structure, why would it be under `resources/`?

Thanks!

[2017-08-04 17:45] darrenjacoby commented on #33
Closing for now.

[2017-08-04 17:45] #33 closed

[2017-08-04 17:46] darrenjacoby commented on #38
@thomascharbit

I agree. I will change the default folder over the weekend for dev-master.

[2017-08-04 17:46] #38 closed

[2017-08-04 18:36] darrenjacoby commented on #37
So this looks like the change causing the issues is below;

https://github.com/roots/sage/commit/8691074b29c4c09dae40f0f0c33dc2b51d9292e2#diff-8b748c75763ffb3068f4da1679ecf02f

https://github.com/roots/sage/commit/8691074b29c4c09dae40f0f0c33dc2b51d9292e2#diff-3223ef754af7d30e9a7234fc86ca4eb7

@QWp6t could we look at reverting to return only one instance? It's returning controller files, etc, in th

[2017-08-04 20:25] thomascharbit commented on #38
Awesome, thanks

[2017-08-07 21:54] alwaysblank commented on #37
I've created a pull request for roots/sage that should resolve this issue: https://github.com/roots/sage/pull/1939

Please take a look and let me know if it works for you.

[2017-08-08 15:35] thomascharbit commented on #37
Had the same issue while it was working with previous Sage version, your pull request fixed it! Thanks!

[2017-08-08 15:44] darrenjacoby commented on #37
Thanks @alwaysblank !

[2017-08-08 20:15] 9585999 commented on #37
@alwaysblank

Strangely, I inserted the code that you sent to PR and nothing has changed ...

The problem was solved when in the available code I commented the line `"{$path}/{$template}.php"`...

[2017-08-08 21:07] 9585999 commented on #37
So it works without interference in sage files.

[2017-08-11 15:25] Mellis84 commented on #37
Cheers @alwaysblank that worked for me also! :) thought I was loosing my mind.

[2017-08-14 16:21] strarsis opened #41 "[doc] enqueue?"
For a sage9 based theme, does it make sense to enqueue script/style for a particular page in controller?

[2017-08-15 01:49] Log1x commented on #41
You should stick to Discourse for questions like this man. This is an **issue** tracker.

[2017-08-15 08:01] darrenjacoby commented on #41
Yeah, this is more of a feature request. I do feel that Controller should only handle data and not go into enqueuing scripts. I'm open if there are +1's, but closing for now.

[2017-08-15 08:01] #41 closed

[2017-08-18 11:44] darrenjacoby commented on #37
Resolved with https://github.com/roots/sage/commit/499f809c6e3271f1b395c66e7d4b88d54190b73c

[2017-08-18 11:44] #37 closed

[2017-08-23 11:02] mtx-z commented on #16
Here is what i needed to do to get variables in all templates : https://discourse.roots.io/t/controller-and-woocommerce/9469/5 - not sure that it is good !

[2017-08-23 14:34] mtx-z opened #42 "Use __construct() to add_action()"
Hello !

First of all, really nice Job on this together with Sage ! We finally have the "VC" of "MVC" in Wordpress !
I am trying to add_fonction() from my controllers. I thought the best way doing this was to use the __constructor() method.
But unfortunatly, the Controller is instanciated multiple time (in my case taxonomy-product_cat for Woocommerce), and so the action is added multiple time wich

[2017-08-23 18:29] darrenjacoby commented on #42
Hi @mtx-z

Hmm, interesting use case.  Essentially Controller was designed around data, and not hooks, so not much testing has happened in that area. I know there are still a few issues to work out with WooCommerce, from likely both Sage and Controller sides.

Two options you could try, but I have not tested these, just initial thoughts.

- Use `protected function add_actions_filters()` and `prote

[2017-08-23 20:40] mtx-z commented on #42
Hi @darrenjacoby,

thanks for your answers.
Yes i saw that Controller was not designed exactly for what i wanted to do, but not impossible !

I like your approach, specially the protected method.

- With the protected method, i could trigger it from the __constructor, but again, with a add_filter/action, as controller is instanciated multiple time, I would see my filter/action added multiple time.

[2017-08-24 07:36] darrenjacoby commented on #42
Cool thanks for the feedback, I'm going to test this later with an add_action and see what I come up with. It should only be firing once though, not sure why it's firing twice.

[2017-08-24 10:54] mtx-z commented on #42
Well, from what I see, it's because controllers are triggered multiple time. So it's not a problem for returning value (if we dont see the performance layer), but it is for add filter/action.
For example, i saw that my taxonomy controller was instanciated twice.
And the App Controller, 6 or 7 time.

IDK if default, or because of my Woocommerce updates in single-product and archive-product to bind

[2017-08-26 08:12] 9585999 opened #43 "$__currentLoopData"
Hi, is there any sense in these variables in the **Controller Debugger**?

![img_2017-08-26_ _10_32_24](https://user-images.githubusercontent.com/16165904/29739749-f2a8ca4c-8a4d-11e7-85aa-686d58436610.png)

As I understood for the conclusion of similar things the function `sanitize()` answers, can it be necessary to it to fasten the filter, or something like this, so that it would be possible to o

[2017-08-26 09:49] darrenjacoby commented on #43
Hey @9585999

Interested to know how you got those variables there? Is this within a category/term loop/query?

[2017-08-26 10:16] 9585999 commented on #43
@darrenjacoby Here is an example of the code that gives these variables:
[code]
It displays on the page the terms of category-services with posts:
* **Title Category-Services Term-1**
category-services term-1-description
    * post > (term-1)
    * post > (term-1)
    * post > (term-1)
* **Title Category-Services Term-2**
category-services term-2-description
    * post > (term-2)
    * post > (ter

[2017-08-26 11:39] mtx-z opened #44 "Switching to 9.0.0-beta4 and back to dev-master break Sage integration"
Hey !

I just tried to update the package to `9.0.0-beta4`, and it broke the installation.
So i switched back to `dev-master`, and it didn't fixed the issue.

I add to add in my `function.php` (or included, `filters.php` for Sage)
[code]

again to match Sage 9 Beta Controller location.

Thanks !

[2017-08-26 11:42] darrenjacoby commented on #44
Can you try the following

[code]

[2017-08-26 11:45] mtx-z commented on #44
The filter I added work already.
It was just to notify that update and downgrade can cause the error on Sage, and so need the filter (back?) to work. I had no issue after a fresh Sage install.

[2017-08-26 12:05] darrenjacoby commented on #44
thanks, I will take a look.

[2017-08-26 12:41] 9585999 commented on #44
@mtx-z if I'm not mistaken then `get_stylesheet_directory()` returns **$path/resources**

You need to add only `/controllers`, if you want to place a folder **controllers** In `resources/`, filter should look like this:

[code]

[2017-08-26 12:43] darrenjacoby commented on #44
That's what I meant to comment with, haha.

@9585999 thank you

[2017-08-31 11:32] jajouka79 opened #47 "Sage - SoberWp Controller - {! App::title() !} in blade view is not working"
https://discourse.roots.io/t/sage-soberwp-controller-app-title-in-blade-view-is-not-working/10326

I have raised this issue here already. sage with controller is not working out of the box~

I have just installed the latest version of sage that uses the soberwp controller package, after running composer install and yarn as instructed in docs I get this error on the site home page:

[code]

I thoug

[2017-08-31 12:16] 9585999 commented on #47
@jajouka79 Strangely, I just installed the theme sage, I have everything working ...

![kapture 2017-08-31 at 15 13 22](https://user-images.githubusercontent.com/16165904/29922685-4a142f46-8e5f-11e7-9cfa-ebe080c54a1f.gif)

[2017-08-31 12:20] darrenjacoby commented on #47
It may be cache related. Not finding App is often a location issue with the Controller files. From 9.0.0-beta.4 the default path is `app/controllers`. Also worth making sure that it's not using any cached version. If you change app/controllers to `resources/controllers`, does it work? If so, then my first guess would be that it is cache related.

[2017-08-31 12:44] greatislander commented on #47
@darrenjacoby As per [my Discourse post](https://discourse.roots.io/t/controller-doesnt-work-when-installing-sage-based-theme-via-composer/10272/10) in Discourse, I get this behaviour when I load a sage-based theme into Bedrock via Composer (and https://github.com/soberwp/controller/ is placed in  `/site/vendor/` instead of `/site/web/app/themes/sage-based-theme/vendor/`. I note your comment about

[2017-08-31 12:52] jajouka79 commented on #47
thanks for the replies, if it is cache related, how do I fix it? how do I clear the sage cache?

[2017-08-31 12:57] jajouka79 commented on #47
also in phpstorm the offending line of out the box code {! App::title() !} in page-header.blade.php has App highlighted as an error, the program can't find it

[2017-08-31 13:25] darrenjacoby commented on #47
@greatislander Controller is no longer a plugin dep. It usually to be included with Bedrock Composer, and placed as a mu-plugin. This is no longer the case, it is now a package that needs to be required from within the Sage theme dir.

[2017-08-31 13:25] darrenjacoby commented on #47
@jajouka79 have you tried changing the Controller location to `resources/controllers` to test?

[2017-08-31 13:54] greatislander commented on #47
@darrenjacoby I'm aware of that. My question is how do you make a theme that is based on Sage available for installation via Composer? Do you have to commit the `/vendor` directory? That doesn't seem like a good practice.

[2017-08-31 18:03] Log1x commented on #47
You don't have to commit `/vendor` if you are making it available via Composer as Composer will install all the dependencies for you.

[2017-08-31 18:24] greatislander commented on #47
@Log1x Does Controller work for you when Composer installs it in bedrock's `/vendor/` folder? It doesn't for me. That's what I'm saying…

[2017-08-31 20:45] darrenjacoby commented on #47
It shouldn't be in Bedrocks `vendor/ `folder though, it should be in the Sage `vendor/` folder. As @Log1x said, don't commit `vendor/`, Composer will install deps.

[2017-09-01 11:37] darrenjacoby commented on #47
@greatislander

Just checking if you've managed to get it working? Otherwise I will set up a Bedrock instance and test, but would prefer to spend time on adding a feature to Controller.

[2017-09-01 11:38] darrenjacoby commented on #43
@9585999

Just want to make double sure, the new Debugger commits in the PR would resolve this, right?

[2017-09-01 11:39] darrenjacoby commented on #44
@mtx-z I do see this issue as more of a teething problem than something that should be solved with additional code. Moving forward, with the correct versions, this should not be an issue.

[2017-09-01 11:58] jajouka79 commented on #47
sorry folks my problems is that I had soberwp/controller in my project composer.json file as well as in the sage theme. i removed that and it worked, thanks for your help

[2017-09-01 12:05] darrenjacoby commented on #47
@jajouka79 glad to hear!

[2017-09-01 12:05] #47 closed

[2017-09-01 12:09] 9585999 commented on #43
@darrenjacoby yes.

With this filter, you can remove variables from the debugger that you do not want to see in the debugger ...

[code]

[2017-09-01 12:15] darrenjacoby commented on #43
Nice! I'm going to play with it over the weekend and then merge.

I'd like to see if it could be to simplified further for the user, so that the filter only includes something like this;

[code]

I also think that __currentLoopData should be removed by default, so I'll add that in via Controller itself.

[2017-09-01 12:19] #44 closed

[2017-09-01 12:38] greatislander commented on #47
Hi @darrenjacoby, Controller does work wonderfully when it's in the Sage `/vendor` folder. That's not the issue. In my use case, I want to be able to make a Sage-based theme which can be distributed for anyone to install via Composer in a Bedrock environment (see these two repos which I created to demonstrate: http://github.com/bight/bedrock-controller and http://github.com/bight/sage-controller).

[2017-09-01 13:08] darrenjacoby commented on #47
@greatislander

Cool, got you. In a Bedrock environment, does Sage not install dependencies within it's theme folder anyway? For example, Blade, etc which are required. Just trying to understand the difference between that and Controller for example.

It would be possible to create a branch that allows it to work using Bedrocks composer.json with fairly minimal changes, but just want to make sure

[2017-09-01 13:45] greatislander commented on #47
@darrenjacoby In my understanding (and in my testing), installing a Sage theme in a Bedrock environment by adding it to Bedrock's `composer.json` (as opposed to the ["normal" method](https://github.com/roots/sage/#theme-installation) of using `composer create-project roots/sage themename dev-master`) installs all the dependencies (Blade and so forth) in Bedrock's `vendor` directory. This seems to

[2017-09-01 13:54] 9585999 commented on #43
@darrenjacoby How do you like this option?
[code]

[2017-09-01 14:07] darrenjacoby commented on #43
@9585999

That's so clean!  Love that.

[2017-09-01 14:11] darrenjacoby commented on #47
@greatislander

Thanks, that makes sense now! I'll look into what can be done here to get it working as a Bedrock package dep.

[2017-09-01 14:18] 9585999 commented on #43
@darrenjacoby just wanted to write that you can insert the check 😄

[2017-09-01 14:51] 9585999 commented on #43
@darrenjacoby I think somehow so
[code]

[2017-09-01 18:55] darrenjacoby commented on #43
@9585999

Cool, no problem!

[2017-09-01 19:57] 9585999 commented on #43
@darrenjacoby no problem! Again!

[2017-09-01 20:27] darrenjacoby opened #48 "Controller as Bedrock dep"
Noted and looking into https://github.com/soberwp/controller/issues/47#issuecomment-326583876

[2017-09-02 10:38] darrenjacoby commented on #42
@mtx-z

Using PSR4 autoloading, which will be pushed to dev-master soon, may fix this issue.

I'll do some local testing to see.

[2017-09-02 12:34] mtx-z commented on #42
Good news !
This way we can move all the specifics action/filter into our controllers properly.

Waiting for the release ! Thanks for the update @darrenjacoby.

[2017-09-07 18:53] matbrady opened #49 "Naming with underscores"
Sorry if this issue already exists. The only similar one I was able to find was #20.
## Problem
Controller loading doesn't occur with custom post types using underscores.
**Example**: `resource_collection`

## Details
I have a custom post type of `resource_collection`. It's relevant files include:
- **view** `resources/views/partials/content-single-resource_collection.blade.php`
- **controller** `

[2017-09-10 13:13] darrenjacoby commented on #49
I will see what we can do here and let you know.

[2017-09-14 09:56] Benjyclay opened #50 "Dependency Injection?"
Is there a way to inject dependencies into a Controller?

[2017-09-15 02:06] Log1x commented on #42
Any update on fixing how controllers are triggered? I'm also having some issues with this.

As far as using `__construct()` to load actions-- that would be kind of nice. I find that while at the initial release of Controller I used a lot of normal functions and simply returned data-- my codebase now has vastly more logic to it and I pretty much solely use `public static function`'s now.

One probl

[2017-09-15 07:01] darrenjacoby commented on #42
Hey @Log1x

I'll check it out tomorrow. I think PSR4 loading will solve this, but would need to test and confirm.

[2017-09-15 07:31] darrenjacoby commented on #42
Just checking out Laravel, it might make sense to build a ServiceProvider for Sage thinking about it.

[2017-09-16 13:47] schrapel commented on #48
@darrenjacoby any update on this?

[2017-09-16 16:11] darrenjacoby commented on #48
Hey @schrapel not yet but still on the todo.

I'm moving over the next two weeks so a little crazy this side.

[2017-09-16 19:11] oscar-g commented on #42
I had a similar problem and I found the App controller was being constructed twice.

Because the calls `add_action` were in App::__construct, and App was being constructed twice, the action handler was  registered twice.

Here is my patch for it...maybe not the most efficient, but it seems to fix the issue for me.  It definitely needs testing on more complicated sites.

https://github.com/oscar-g/

[2017-09-16 19:13] oscar-g commented on #42
@darrenjacoby, I'm curious about PSR4. How can we use it to solve this problem?

[2017-09-17 00:43] darrenjacoby commented on #50
@Benjyclay can you give me an example of what you're trying to accomplish?

[2017-09-17 08:32] darrenjacoby commented on #42
@oscar-g @Log1x @mtx-z

Just pushed PSR-4 to dev-master. It does appear to fix the multiple executions. Let me know if it works your side.

https://github.com/soberwp/controller/commit/93aa3ccd869b6092eefb941e342382ce7e3b00db

Regarding adding add_action to Controllers, I'm not sure it will work. I also don't feel like that should be in a Controller, a ServiceProvider would be more appropriate. I

[2017-09-17 09:38] Benjyclay commented on #50
[code]

[2017-09-17 20:19] asretux opened #51 "Cannot import controller classes after last update"
After the last update on master, while using the Sage9 WordPress Theme, the App class is not loaded properly.

After reverting our composer.json wpsober/controller depedency to tag 9.0.0-beta.4, this proble does not occur.

[2017-09-18 00:58] Log1x commented on #51
Looks to be a namespace issue.

![Screenshot](https://log1x.com/screenshots/2017-09-17_20-59-59_8hP01.png)

[2017-09-18 08:52] darrenjacoby commented on #51
Are you using PSR4?

You need to use the correct namespacing. This would have to change on Sage demo controller files too.

[code]

[2017-09-18 09:23] asretux commented on #51
@darrenjacoby I see, PSR4 is the issue.

I'm opening an issue in the Sage9 beta 4 repo to, at least, bind the composer.json beta4 tag to the proper soberwp/controller tag, instead of dev-master.

[2017-09-18 22:36] Log1x commented on #51
Hmm. I changed the namespaces on all of my controllers and dumped autoload from Composer and am still having the same error despite `App\Controllers\App` existing now.

Will look into it more to see if it's on my side, but it's the same complaint about line 19 of `controller.php`

[2017-09-18 23:15] Log1x commented on #51
The only "fix" I've done is adding `"App\\Controllers\\": "app/controllers"` to my autoload and then in any non-view I want to use a controller function in I have to do `use App\Controllers` as well as escape any of my helpers I use in my Controllers to `\App\helper_name()`, etc.

[2017-09-27 12:48] monkeymonk commented on #51
The controllers are not been included anymore from the Loader.
So, yes, a workaround is to setup `composer.json` to autoload `app/controllers` files directly.

[2017-09-27 12:51] darrenjacoby commented on #51
Sorry everyone, I've been meaning to take a look at this, but just in the process of moving residences so time has been limited. I'll look into a solution as soon as I can.

[2017-09-29 14:06] moonorongo commented on #51
In composer.json:
[code]
has a solution for me

[2017-09-29 14:17] greatislander commented on #51
@moonorongo There are new changes in the master branch which is what this thread is about.

[2017-09-29 14:38] moonorongo commented on #51
thanks!

[2017-10-04 20:32] zacksmash commented on #49
Bump on this. Ran into the same issue.

[2017-10-08 12:40] darrenjacoby commented on #51
@Log1x the App/Controllers namespace should be working out the box. I'll re-check my side, but I did not need to change composer.json to include.

[2017-10-08 12:43] darrenjacoby commented on #50
Hm, not sure this is making sense to me. Are you trying to pass a Class in, using __construct?

[2017-10-08 15:17] #42 closed

[2017-10-10 07:47] sulfo commented on #49
Aaaaand the same here.

[2017-10-10 07:48] darrenjacoby commented on #49
Just a note that I am looking into this.

[2017-10-10 18:47] greatislander commented on #48
Hi @darrenjacoby, had a chance to look at this yet? Let me know if I can assist in any way.

[2017-10-10 18:53] darrenjacoby commented on #48
Hey @greatislander

Not yet, sorry, I've been in the process of renovating and moving so it's been occupying a lot of my time. I am open to any solutions via PR's on the issue of course, but otherwise I will attempt to take a look before next week.

[2017-10-10 19:02] greatislander commented on #48
Understood, thanks!

[2017-10-13 20:22] webstractions opened #52 "Improvment Request for declaring variables"
T'would be nice if all data fell under one blanket function like `_data()` and you did all your variable declarations there.  Having to do individual (non-static) functions just to declare variables is tedious. It is also confusing when you start mixing them with static functions.

I would like to see something like this within a controller:

[code]

Now you have a very clear, simple, and easier t

[2017-10-13 22:57] garethpbk commented on #49
Same problem here, I'm using the Single.php controller for now.  Thanks for looking into it!

[2017-10-16 15:02] schrapel opened #53 "Do not force project namespace"
We should not be forced to use the `App/Controller` namespace and be able to change `App` to our projects namespace.

Thanks.

[2017-10-16 15:15] darrenjacoby commented on #53
@schrapel dev-master uses PSR4 autoloading, so you should be able to specify?

[2017-10-16 15:16] #51 closed

[2017-10-16 15:38] schrapel commented on #53
@darrenjacoby you specifically require it https://github.com/soberwp/controller/blob/master/src/Loader.php#L110

[2017-10-16 15:41] darrenjacoby commented on #53
That is a good point. I may need to add a filter for that.

[2017-10-16 15:45] schrapel commented on #53
You could read the namespace in the file.

[2017-10-17 09:50] indrek-k commented on #50
@darrenjacoby yes - in the example above, an instance of ClassTwo is injected into the constructor of the controller at the moment it is instantiated. Being able to do something like this is really important for clean architecture, as you'd no longer need to hardcode any external dependencies into the controller class.

I recommend looking into Laravel's DI container (which is used by Sage anyway)

[2017-10-19 08:22] dmgawel opened #54 "Default directory"
Hi,

Sometimes there is a point in moving required theme files (`functions.php`, `style.css`, `index.php`, `screenshot.png`) to theme's top-level directory. This might even become an option in Sage: https://github.com/roots/sage-installer/issues/3. When those files are moved, `get_template_directory()` points to root folder and it breaks default directory both for Controller and Models:
https://gi

[2017-10-30 16:09] YarGnawh opened #55 "Uncaught ReflectionException after composer update"
After running a composer update on my root sage theme

[code]

The entire theme stopped working. In the error log it is output this error

[code]

Any idea what's causing this?

[2017-11-03 23:52] alwaysblank commented on #55
I ran into this problem because my controllers had
```namespace App;```
not
```namespace App\Controllers;```
For me, changing the namespace and making sure that the file names matched the class names (i.e. `FrontPage.php` for `class FrontPage`) solved this issue.

...Except in one case: The 404 template. I get the same reflection error, which I would fix in the same way...but it expects a class na

[2017-11-06 17:10] mtx-z commented on #5
Hey there !
Just found this issue related to mine.

I'm using latest Beta, and i'm wandering if there's a way to use a Class attribute
like
`public $template = 'page-template-faq-blade';`

To override the controller search based on controller filename ?
It would be just to :
- Have clear controllers filename
- Be able to specify in the controller the "slug" that this controller will match, in addi

[2017-11-07 02:01] mtx-z commented on #50
What type of class would you want to inject here ?
As i just tested by injecting another Controller, and it works the laravel Way.
[code]

[2017-11-07 02:04] mtx-z commented on #50
+1 would be cool.

Actually, I can achieve the same result as Laravel do, but it's "dirty code" :)

use \App\Home;

/**
 * Class ConstruisezVotreParcours
 * @package App
 */
class ConstruisezVotreParcours extends Controller {

	private $test;

	public function __construct() { //no real injection
		add_action( 'wp_ajax_nopriv_getRelatedJobsAsync', [ $this, 'getRelatedJobsAsync' ] );
		add_action( '

[2017-11-07 12:41] mtx-z opened #56 "WP_ajax"
Hello !

I would like to know if there's a way to use SoberWP controllers with WP_ajax ?
I tried to put the add_action into my controller __construct, but as it's an Ajax call, the constructor is never called and so the action never triggered...

Any way we could handle it ?
Thanks !

[2017-11-07 12:54] mtx-z commented on #56
Found one way to do it:

In function.php

[code]

Works to use a Controller method for a wp_ajax action. add_action cannot be placed into Controller constructor as it's not instanciated on ajax call.

[2017-11-10 15:05] webstractions commented on #53
Laravel uses a config file to declare where the User model class is. By default, it is in the app root. Devs can relocate models into their own folder and edit the location easily.

There are paths being declared in `config\theme.php` already. Adding a controller path is simple enough.

[2017-11-10 15:29] webstractions commented on #43
The `$loop` variable is added by Blade when you use a looping directive such as `@foreach`. That variable provides information such as the current loop index and whether this is the first or last iteration through the loop. Not really sure if anyone really has a need for the variable and it can probably be excluded along with `__env`, `__currentLoopData`, as well.

[2017-11-11 01:17] webstractions commented on #49
How about something like this?

**Add $template property to Sober\Controller\Controller**
[code]
**controller.php loader() function**
[code]
Now you can over-ride the template name inside of your controllers.

[code]

[2017-11-11 14:36] zacksmash commented on #49
That looks great! Nice solution!

[2017-11-11 15:08] darrenjacoby commented on #49
Earlier versions of Controller had the option to specify the template. I think that is the best solution for underscores. I'll add this to dev-master.

[2017-11-11 15:36] webstractions commented on #49
@darrenjacoby You're welcome.

[2017-11-20 17:20] rolandp commented on #55
Ran into the same problem after updating  "roots/sage-lib": "~9.0.0-beta.3" to "roots/sage-lib": "~9.0.0-beta.4" and "soberwp/controller": "dev-master" (from commit e9358ff900d6065f5252a114fb187403fbc594ec to commit 93aa3ccd869b6092eefb941e342382ce7e3b00db).

Changing the namespace declaration did not fix the problem though.

[2017-11-20 19:03] webstractions commented on #55
@rolandp Check your composer.json file. It should be along the lines of:
[code]

@alwaysblank I kind of addressed how to get around this here https://github.com/soberwp/controller/issues/49#issuecomment-343627895 which should allow you to declare 404 templates.

[2017-11-22 23:57] alwaysblank commented on #49
@webstractions's solution works great! Had to make one tweak to get it there, though:

[code]

Without that, I got errors about trying to call a method on a string. Works like a charm now, though! Thanks!

[2017-11-23 00:19] webstractions commented on #49
@alwaysblank Looks good! Updated loader() code above to match.

[2017-12-21 22:11] #56 closed

[2017-12-22 06:07] Sharsie opened #57 "App controller methods are being called multiple times"
These tests are performed on a homepage

I have the following structure:

app/controllers/App.php
app/controllers/Home.php

[code]

[code]

the result of the error log for a single request is:
[code]

So far I have been debugging I found out the following:
`\Sober\Controller\loader` function adds filters for
`sage/template/app-data/data` (App controller)
`sage/template/home-data/data` (Home contro

[2017-12-22 08:06] Sharsie opened #59 "Allow static methods to be called and inherited the same way variables are"
**The problem:**
At the moment we can use public methods in the controllers which are then translated into variables to be used in blade templates.

These variables can be inherited from parent controllers using the `Tree` interface, or inherited from the `App` controller

Static methods, however, are always tied to the Controller class and cannot be inherited, so they always need to be called fro

[2017-12-22 10:11] Sharsie opened #60 "Implementing Tree only works for the direct parent"
I promise this is the last issue I am creating today :)

While trying to solve the hierarchy problem with #59 I have encountered an issue when implementing a `Tree` from `SingePost` controller while also having `Single` and `Singular` controllers present

Maybe this is the correct behaviour, but it wasn't clear from the readme, so I just want to make sure

The most specific controller always inher

[2017-12-22 10:55] slackday commented on #59
When I want to re-use static functions I usually create a trait in `app/controllers/partials`

[code]

Then in single controller or whatever

[code]

And calling it in template

`SingleCategory::getCategories()`

Did you try this for reusability?

[2017-12-22 11:33] Sharsie commented on #59
Indeed I did, the issue is when calling it from common templates (like partials/entry-meta) which are shared accross different contexts (homepage, category page, single). You cannot(well, should not) actually reference `SingleCategory` controller because the template file will be also called from a post (or homepage) where `SingleCategory` might not be relevant.
Then you would need to create a dif

[2017-12-27 10:28] Sharsie commented on #59
After fiddling around with it for a while, I do not think this solution is a good way to go.

The reason being - it is impossible to call the directives in for loops, i.e. now we can do something like

[code]
using the directives, it is impossible to call
[code]

[2017-12-29 11:51] darrenjacoby commented on #48
I'm looking into this, but when Controller is in the Bedrock `vendor/` folder, it loads before WordPress wp-load.php, meaning `add_action` is undefined, therefore this section of coding isn't running—

[code]

I actually think @schrapel answer above is the best way to address this. I can create an soberwp repo for this if you'd like?

[2017-12-29 15:01] darrenjacoby commented on #60
That should be the expected behaviour, I'll take a look at this.

[2017-12-29 15:05] darrenjacoby commented on #55
There is a difference between dev-master and beta.4. dev-master uses PSR4, so @alwaysblank is correct. The class names need to be PSR4 complaint and the namespace needs to be `namespace App\Controllers;`

@alwaysblank interesting note on the 404, I'm doing a template override option (which will also address underscores in filenames) so that will be the best workaround. I believe PSR4 loading is wo

[2017-12-29 15:05] #55 closed

[2017-12-29 15:08] darrenjacoby commented on #53
@schrapel @webstractions

Looking into this, for Loader, I need to know the path of the Controllers to get the filelist to run through. There is a filter for that currently. PSR4 uses folder structure, so that could be used to determine the namespace as well. I may switch it around, so the user can enter the custom namespace and from there I can find the path for the filelist in the background.

[2017-12-29 15:08] darrenjacoby commented on #49
I'll be adding this to dev-master soon.

[2017-12-29 15:12] darrenjacoby commented on #50
I'll see what I can do here to try clean this up!

[2017-12-29 15:14] darrenjacoby commented on #54
Thanks @dmgawel, good to note the possible change. I may be changing this filter to a namespace filter (dev-master uses PSR4 loading), and from there I can determine the path. I'll be sure to implement the above solution when determining that path.

[2017-12-29 15:17] #54 closed

[2017-12-29 18:17] darrenjacoby commented on #52
The above approach could also become messy, if there's one place where all variables are assigned and then there are multiple functions within that. The idea behind functions even for variables was that something is returned, perhaps after some if/else statements.

You could also create a public function called data and return object notation, so you could access using `$data->title` in the view.

[2017-12-29 19:05] greatislander commented on #48
I guess my expectation from this feature request had been that there should be a way to install a theme with Controller via Bedrock, and while the companion mu-plugin fix offered by @schrapel does make it work, it’s not ideal (it would almost make as much sense to install Controller as a plugin for themes that need it if that additional dependency is required). But if there’s no other solution a r

[2017-12-31 09:11] darrenjacoby commented on #50
@indrek-k yeah, the autowiring is going to be the best option for dep injection.

I'm assuming something like this should work using the DI container, which Sage just extends—
https://gist.github.com/davejamesmiller/bd857d9b0ac895df7604dd2e63b23afe#basic-usage

[2017-12-31 11:40] darrenjacoby commented on #50
Cool, got it working using the Sage container.

So you could do this;

**app/Dep/ClassA.php**

[code]

**app/Controllers/Single.php**
[code]

I'll push to dev-master soon for further testing.

[2017-12-31 13:21] mtx-z commented on #50
Is the

    public function __construct(ClassA $classA)
    {
        $this->classA = $classA;
    }

From Single Controller only ran once ? Or multiple times ? As i remember trying to use the __construct to put some add_filters, and it wasn't good cause it was ran multiple times: and so filter added multiple times.

[2017-12-31 14:12] darrenjacoby commented on #50
@mtx-z yeah seems to be only running once.

[2017-12-31 18:38] webstractions commented on #52
@darrenjacoby Yep, don't sweat it.

[2018-01-01 15:16] darrenjacoby commented on #52
Cool, going to leave for now to avoid adding any additional complexity/confusion, but will review if there are more requests for something like this.

[2018-01-01 15:16] #52 closed

[2018-01-05 14:53] darrenjacoby commented on #57
@Sharsie

I've done a lot of work here, using the Sage DI container to create the classes, removed the App data from the loop, etc. It was a fairly big rework and clean up on `controller.php` and `Loader.php`. As a result classes are only being created once now.

This solves the above issue without extra code—it was part of the work to make dependency injection work for Controllers.

Thanks for yo

[2018-01-05 14:55] darrenjacoby commented on #48
Closing for now, but may revisit down the line once I've released class dep injection, etc.

[2018-01-05 14:55] #48 closed

[2018-01-05 15:42] schrapel commented on #48
I personally feel like that’s a bad decision. You are trying to load something before WordPress that is a dependency of WordPress

[2018-01-05 16:33] darrenjacoby commented on #48
@schrapel yeah, that's kind of where I arrived at when testing.

[2018-01-05 20:20] darrenjacoby commented on #60
Thanks for picking this up this bug. I have a fix, just need to clean it up.

[2018-01-08 04:50] Sharsie commented on #57
Perfect, thanks, I will have a look at it once it's out

[2018-01-08 05:57] Sharsie commented on #59
@darrenjacoby

Darren can I ask for your take on this topic? Would this be something you would consider worthwhile implementing?

The more I want to customize certain parts of the theme, the more I am hitting on this wall, where I am forced to create duplicate templates, so I would like to know if this is the way it is going to be or whether it would be worth my time to think of a solution.

[2018-01-08 07:08] darrenjacoby commented on #59
@sharsie will take a look

[2018-01-08 15:00] darrenjacoby commented on #59
@Sharsie

I'm still putting some thought into perhaps a better way to handle this, letting the WordPress hierarchy determine the Class alias to use is an interesting approach that could work.

How it works at the moment is that all static methods are accessible regardless of template.  The `class_alias` is just  removing the namespace and referencing the class. For example App::function(). This re

[2018-01-09 08:09] darrenjacoby commented on #43
I've been rewriting debugger to pass on more valuable information (such as static methods, data override notices, etc), and that only provides Controller information. By doing so, I'm using a different approach that negates the underscore issue entirely. Closing for now.

[2018-01-09 08:09] #43 closed

[2018-01-16 18:08] #60 closed

[2018-01-16 18:08] #57 closed

[2018-01-16 18:08] #53 closed

[2018-01-16 18:09] #50 closed

[2018-01-16 18:09] #49 closed

[2018-01-30 03:44] Sharsie commented on #59
Sorry for the silence, it's been crazy busy and I don't think I'll have to time to think on this until the second week of february.
Okay, I understand the logic behind this, as far as I see it, you will always be able to call static methods of whatever class there is, so this behaviour would never change. From my perspective, this is just a method call, just as if I would be calling `get_the_title

[2018-02-01 20:34] Pushplaybang opened #61 "Anyway to assign a controller manually to a partial?"
I'm really enjoying using controllers in WP and combined with sage 9, this has totally brought WP development into a whole new paradigm that's actually enjoyable again.

I'm wondering if there is any way to manually assign a  controller to a template, that is not within the hierarchy.  While traits certainly help with modularity, it would be great to be able to create a controller and manually bin

[2018-02-01 20:42] darrenjacoby commented on #61
Hey Paul, you can define a template with the dev-master version, set for release as soon as Sage 9 goes stable. You could use parameter `$template = 'name-of-template';` within the Controller file. This however won't work for a partial. The data is sent through on a per template basis, so targeting only partials wouldn't be possible.

[2018-02-03 21:42] Pushplaybang commented on #61
@darrenjacoby do you mean that this would be applicable only to templates that fall within the usual WP hierarchy?

[2018-02-04 01:09] webberwang opened #62 "Cannot redeclare register_extended_post_type()"
` Fatal error: Cannot redeclare register_extended_post_type() (previously declared in /srv/www/codelab.com/current/vendor/johnbillion/extended-cpts/functions.php:59) in /srv/www/codelab.com/current/vendor/soberwp/models/dist/johnbillion/extended-cpts/functions.php on line 69`

[2018-02-04 08:57] darrenjacoby commented on #62
This is a Models issue which was fixed a few days ago

[2018-02-04 08:57] #62 closed

[2018-02-04 08:58] darrenjacoby commented on #61
Yea, the override would only apply to templates that fall within the WP hierarchy. It's useful for templates that use underscores instead of hyphens.

[2018-02-04 09:01] darrenjacoby commented on #59
Yeah, I'll look into implementing an interface for the current view (like View::).

It'll just be an extra alias for methods that fall within the scope of the current template, so it's just some syntax sugar really.

Closing for now, but will take a look at this in the future.

[2018-02-04 09:01] #59 closed

[2018-02-05 15:09] Pushplaybang commented on #61
okay cool, any plan to support applying controllers to specific templates /  disabling the hierarchy for that controller?  or is that outside the scope?

[2018-02-06 08:33] darrenjacoby commented on #61
Yea, so just to clarify.

Using dev-master, you could specify the template using `$template = NAME_OF_TEMPLATE`; in the Controller.  As long as the Controller class isn't named as per the hierarchy, it will be disabled from the hierarchy, but could be included using the template override above.

[2018-02-08 11:04] slackday commented on #57
Hi, did this make it into 2.0.0? Looks like it from the code but changelog isn't updated. I would also like to try 2.0.0 👍

[2018-02-08 11:07] darrenjacoby commented on #57
@slackday yea this working as should now. I forgot to update the changelog, will do that.

[2018-02-08 12:55] #61 closed

[2018-02-08 18:12] slackday opened #63 "Problem with loading data on custom post type templates in 2.0.0"
Hi

Just tried out v2.0.0 and ran into an issue with data not loading on some templates.

I tracked the issue down to custom post type naming and I'm not sure how to fix this the best way.

For example I have `cpt_calendar` post type. WordPress use template page `archive-cpt_calendar` for the archive page on this post type.

After updating I renamed the controller to ArchiveCptCalendar since filen

[2018-02-09 07:08] darrenjacoby commented on #63
Yeah, the way you're dealing with it is the correct way. Underscores are an issue, so using the template override is the best way to handle them.

[2018-02-09 07:18] #63 closed

[2018-02-09 20:36] christianmagill opened #65 "ACF support fails if no returned fields"
You need to account for no items being returned by Acf:get() in

/soberwp/controller/src/Module/Acf.php:66

[2018-02-11 11:21] Pushplaybang commented on #61
awesome.  So it is totally possible then.  thanks.

[2018-02-11 19:02] darrenjacoby commented on #65
I'll get this added in tomorrow

[2018-02-11 19:33] rorymcdaniel opened #66 "Trouble Upgrading from 9.0.0-beta4"
After upgrading to 2.0.0 from 9.0.0-beta4, I can only get static methods to work in the templates. I am using the Sage 1.0 release.

I change app/controllers to app/Controllers, changed the namespace of the two example controllers to `App\Controllers` and changed the filenames to `App.php` and `FrontPage.php`

Again, using the default examples from Sage, in resources/views/partials/page-header.bla

[2018-02-11 19:38] darrenjacoby commented on #66
It sounds like there's no data being passed in, is there any chance you can set up a repo for me to take a look at?

[2018-02-11 19:59] rorymcdaniel commented on #66
I'll see what I can do there, but I have some more information for you. I was looking at
`vendor/soberwp/controller/src/Loader.php` specifically `protected function setPath()`

If I change the name of the folder to `app/controllers` and then add the following to the PSR4 section of composer.json, everything works:
` "App\\Controllers\\":"app/controllers/"`

It looks like setPath() is looking for f

[2018-02-11 20:06] rorymcdaniel commented on #66
Just sent invite to a private repo

[2018-02-11 20:16] darrenjacoby commented on #66
package.json still shows `"soberwp/controller": "9.0.0-beta4"`

Did you revert for the time being?

[2018-02-12 12:10] rorymcdaniel commented on #66
That was a different branch. I just granted you access on bitbucket as a private repo instead of github. Look at branch soberwp/controller

[2018-02-12 14:49] rorymcdaniel commented on #66
I don't know if this makes any difference, but this is a subfolder multisite. I'm using Laravel Homestead for my dev environment.

[2018-02-12 18:59] mcaskill commented on #66
I had the same issue when it came to deploying a project to a _case-sensitive_ staging server (I was from a case-insensitive local environment).

The simplest solution I think of would be to add a filter to `Loader::setPath()` similar to `Loader::setNamespace()`.

[code]

[2018-02-12 19:13] darrenjacoby commented on #66
OK, I see the issue.

[code]

`strtolower` needs to be removed. I'll do a release tomorrow to fix this.

[2018-02-12 19:31] mcaskill commented on #66
If removed, we will need to make sure `App` is also capitalized in our theme's directory tree.

[2018-02-12 19:46] darrenjacoby commented on #66
That's true, but I'll still fix it tomorrow by taking another route, haha

[2018-02-13 21:05] rorymcdaniel opened #67 "ACF Pro Support"
This is more of a feature request than anything else. I use ACF Pro for custom fields. I set up an override locally to extend your package and let it also include the fields on the site-wide options page. Is this a feature you're willing to include?

I'd be happy to do a pull request with the feature, but I wanted to see if you were interested and if you had any thoughts on how you would want to i

[2018-02-13 21:07] darrenjacoby commented on #67
I would yes. Could add it to the App class?

[2018-02-14 08:39] studio404pl commented on #57
@darrenjacoby is this fix will be released on 9.0.0 also (sage user here).

[2018-02-20 15:33] #65 closed

[2018-02-21 15:39] abstrakt opened #70 "Template controllers not loaded in 'draft' mode"
It seems that the correct controllers are not being loaded when previewing a page in draft mode. However, Sage 9 does successfully load the correct view.

It loads all the basic controllers:

- controllers/app.php
- controllers/index.php
- controllers/singular.php
- controllers/page.php

But unfortunately not the template that is assigned to it.

[2018-02-21 19:28] darrenjacoby commented on #66
Thanks to @rorymcdaniel PR this is resolved. I'll tag a release as soon as all new issues are sorted.

[2018-02-21 19:29] #66 closed

[2018-02-22 20:04] rorymcdaniel commented on #67
@darrenjacoby I was hoping you could give me a little feedback on #72 and see if you'd like to move forward with this feature.

[2018-02-26 09:05] darrenjacoby commented on #67
Hey @rorymcdaniel

Def keen to include the options to the App Class, but would prefer to not have a param $acfPro just for the options field. I'm going to code this so that it happens automatically. The App Class is inherited by all templates, so tree isn't required using this approach. I'm going to do some work on Controller tonight so will take a look at implementation.

[2018-02-26 16:07] rorymcdaniel commented on #67
That makes perfect sense, and is ironic because that's how I'd done it for my own implementation first and just assumed you'd want the ability to turn it off/on. Take a look at #73 and see if that's more to your liking.

[2018-02-28 15:57] ouun commented on #48
Solved it for me as well. Thanks and I'm looking forward for a more robust and non critical solution. 👍

[2018-02-28 17:18] mcaskill commented on #48
I solved this issue with a [Composer plugin](https://packagist.org/packages/mcaskill/composer-exclude-files) I created for excluding files from the 'files' autoloading mechanism.

`/composer.json`
[code]

Afterwards, you can either include that bootstrap file from your theme or a plugin.

`/www/themes/<theme>/resources/functions.php`
[code]

[2018-03-06 13:56] mrtnsn opened #74 "Release the newest version"
Could you make a tag for fdc4692, this fixed a couple of issues for us and would love to not be depended on `dev-master`

[2018-03-08 19:48] darrenjacoby commented on #74
@mrtnsn sure, I will tag a release this weekend.

[2018-03-09 07:50] mrtnsn commented on #74
@darrenjacoby cheers 👍

[2018-03-09 12:51] thelar opened #75 "Fatal error: Uncaught ReflectionException on my staging server"
Hi,

I posted an issue I was having with a site I'm developing which I ran into when deploying it to my staging server [here](https://discourse.roots.io/t/fatal-uncaught-reflectionexception-error-with-controller-2-0-0/11859). I've had to bite the bullet and revert back to the 9.0.0-beta.4 version of controller to get around this. But I thought I'd post here because I have now tried setting up a co

[2018-03-12 09:06] darrenjacoby commented on #75
I think this is an issue with 2.0.0, there was an issue with caps/lowercase. Could you try dev-master and see if it still happens? I'll be tagging 2.0.1 in the next day or two.

[2018-03-13 11:24] thelar commented on #75
Hi Darren,
Sorry for delay, I just got around to trying this but no luck I'm afraid, still getting the same errors with `dev-master`

Kevin

[2018-03-15 13:12] pawelkleczek opened #77 "Fatal error (server only) - after migrating from 9.0.0-beta.4 to 2.0.0"
Hi guys,

after migrating to v2 i get this error on server. Locally it works perfectly well. Is it also a problem with case-sensitive environment? Is there gonna be some update soon?

Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Call to a member function have_posts() on null in /var/www/pola-dev/web/app/uploads/cache/a3af0dc36cf995ecb4c9cbab1d73c61a74904e85.php:10 S

[2018-03-16 06:14] slamorte commented on #77
This happened to us.

Check your `app/` folder on the server and see if you have more than one `Controllers/` folder and if it's capitalized. Your repo and server might have two controllers folders with different case, while your OSX development environment will show only one folder. This issue might apply to any other file or folder where you've changed case on the OSX.

We fixed it with:
[code]

[2018-03-16 06:28] slamorte commented on #66
I have the same issue. Following up on this and I'm running the most recent code.

To clarify, does `app/Controllers/app.php` need to be renamed `App/Controllers/App.php`? And if so the documentation needs to be changed.

[2018-03-16 09:22] pawelkleczek commented on #77
Well, actually you're 100% right, because i did have two controller folders, one capitalized, and one not. I think it was due to me removing folder, or changing capitalization with functions like mv or rm and not it's git equivalents. But i changed it on server (also stupidly choosing mv over git mv), and it still results in error being thrown.

![zrzut ekranu 2018-03-16 o 10 20 29 2](https://user

[2018-03-16 09:28] pawelkleczek commented on #77
the last line from error message is (/var/www/pola-dev/web/app/uploads/cache/a3af0dc36cf995ecb4c9cbab1d73c61a74904e85.php on line 10)

this is the code:

![zrzut ekranu 2018-03-16 o 10 28 32 2](https://user-images.githubusercontent.com/20242777/37513238-d11dda6a-2904-11e8-97c8-532e7b9f4851.png)

[2018-03-16 09:33] mrtnsn commented on #74
@darrenjacoby status on this?

[2018-03-16 09:34] slamorte commented on #77
There's more to the solution. Here's what I posted over on the Sage forums:

Rename
`app/Controllers/app.php`
to
`app/controllers/App.php`

In composer.json replace line 31 with:
[code]
As per this link at soberwp.

Run
`composer dump-autoload`

Run (optional?)
`yarn build`

These steps seemed to have solved my empty ACF and namespaced variables issue. I have no idea why; namespacing is a black ar

[2018-03-16 09:48] darrenjacoby commented on #77
You guys could also use dev-master which will fix this. I'm going to create a new version shortly.

[2018-03-16 09:50] pawelkleczek commented on #77
i have stupid question - how to change to dev-master? i see only one branch... :P

[2018-03-16 09:51] slamorte commented on #77
If dev-master makes the controller folder case-insensitive that would be great.

At this point thought the bigger problem is fixing my "fixes" from trying to capitalize the folder in the first place. The duplicate folders keep giving me unresolvable git merge conflicts.

[2018-03-16 09:55] pawelkleczek commented on #77
yeah, that was it!

"App\\Controllers\\": "app/controllers/"

thanks @slamorte

[2018-03-16 09:55] darrenjacoby commented on #77
You can now upgrade to 2.0.1.

This was fixed with merge https://github.com/soberwp/controller/pull/71 from @roryatbrightoak

[2018-03-16 09:55] #77 closed

[2018-03-16 09:56] #75 closed

[2018-03-16 09:57] darrenjacoby commented on #75
Please update to 2.0.1 and make sure that classes are namespaced correctly.

[2018-03-16 09:57] darrenjacoby commented on #74
Just released 2.0.1

[2018-03-16 09:57] #74 closed

[2018-03-16 10:01] darrenjacoby commented on #67
Thanks for the PR. The code on Acf.php runs for each page, it only needs to be run on App.php and not each page. I'll amend and include in the next 2.0.2 release.

[code]

[2018-03-16 10:02] darrenjacoby commented on #70
I will test and look at fixing in 2.0.2

[2018-03-16 10:04] slamorte commented on #77
`composer update soberwp/controller` and it seems to be working fine!

[2018-03-16 11:19] pawelkleczek commented on #77
for me too. And no longer need to add "App\Controllers\": "app/controllers/" to composer.json

thanks @darrenjacoby !!

[2018-03-19 21:59] strarsis opened #78 "Ajax?"
Could this controller also be used for front-end ajax request?

Edit: Can the controller also be used for handling normal HTTP POST?

[2018-03-21 21:28] rorymcdaniel commented on #66
In order to be PSR4 compliant, `\App\Controllers\App::class` needs to be app/Controllers/App.php.

[2018-03-27 13:00] pawelkleczek commented on #67
Two thumbs up for this feature 👍 👍

[2018-03-28 13:14] darrenjacoby commented on #78
I've had a few requests for this, but I feel some middleware would work better. I may look into creating some middleware in the future.

[2018-03-28 13:14] #78 closed

[2018-04-05 20:36] christianmagill commented on #27
@darrenjacoby This issue is back again.

[2018-04-06 18:16] kuiperr005 commented on #75
Hi, I am having this same issue on our server, with version 2.0.1 and class namespaces setup correctly. Locally it works, but not on the server itself. I'm getting the following error:

`Fatal error: Uncaught ReflectionException: Class App\Controllers\App does not exist in /home/public/sites/www.pijlmanagement.nl/app/themes/mytheme/vendor/soberwp/controller/src/Loader.php:74 Stack trace: #0 /home/

[2018-04-06 20:02] christianmagill opened #79 "Altering data array in controller"
With version 2.0.1 I can no longer alter the data through the constructor function.

The first hurdle is that the $data property has been changed back to private. However, even if I alter the $data array it just gets overwritten.

What I'm trying to do is the below...

[code]

With this setup, acf post fields would overwrite acf option fields, and functions would overwrite both.

I'm not sure how

[2018-04-06 21:33] christianmagill opened #80 "Template data filters outside of Sober/Controller not respected"
The default sage data filter "sage/template/{$class}/data" is not respected unless:

1. A controller exists for the current template
2. That controller implements Tree.

[2018-04-10 11:38] reiterbene commented on #75
same issue here.
on localhost everything works perfect - on the server side I get the same error.

[2018-04-10 15:04] darrenjacoby commented on #75
You just need to rename app/controllers to app/Controllers as per the PSR4 spec...

[2018-04-14 05:11] slamorte opened #81 ""protected $acf = true" not returning ACF group fields"
I'm having an issue with `protected $acf = true;` not returning ACF fields as expected with soberwp v2.0.1.

app/Controllers/App.php:
[code]

views/partials/template.blade.php:
[code]

Results:
[code]

This seems to be true whether I echo the results in a partial, or in single.blade.php, or anywhere else. Public functions work, ACF variables are empty.

Can you give me a pointer on how to start to

[2018-04-26 18:49] christianmagill commented on #80
@darrenjacoby Any ideas how to avoid this?

[2018-05-09 21:18] pridyok opened #82 "__construct() method now runs before the $post object is loaded"
After updating to 2.0.1 I found a lot of my code broke as it was based assigning data to a variable via `get_field('content')` in the `__construct()` method. It seems as though `get_field()` no longer works here, as the global `$post` variable is not accessible at all. Was this change intentional?

[2018-05-09 21:40] pridyok commented on #82
Awesome, thank you.

[2018-05-11 00:46] natefoundry opened #83 "Data Fields Don't Inherit From Hierarchy?"
I created a new page called Home (`page-home.php`) and set it as my **Front Page**. I'm attempting to use the ACF plugin to add fields to the home page and created a controller for it:

[code]

In my `page-home.blade.php` view:

[code]

However, it doesn't seem to exist when I debug it:

[code]

If I move the `hero_video()` method to the controller for `front-page.php` it works:

[code]

Debug out

[2018-05-11 08:43] darrenjacoby commented on #83
Hi @natefoundry, would you mind updating to 2.0.1 and then trying again? You will need to update namespaces (from App to App\Controllers), and rename folder controllers to Controllers/

[2018-05-11 08:44] darrenjacoby commented on #81
Yes that's correct. It returns an object. Please feel free to add a PR for the README, else I'll get to that early next week.

[2018-05-11 08:44] #81 closed

[2018-05-11 08:52] darrenjacoby commented on #83
Here's a PR that shows the update process clearly

https://github.com/roots/sage/pull/2025

[2018-05-11 08:54] darrenjacoby commented on #79
2.0.2 releasing soon, just changed data back to protected.

[2018-05-11 08:54] #79 closed

[2018-05-11 09:06] darrenjacoby commented on #70
This is working with 2.0.1 from my testing. I'd recommend upgrading and trying again. https://github.com/roots/sage/pull/2025

[2018-05-11 09:07] darrenjacoby commented on #80
@christianmagill are you working on 2.0.1?

[2018-05-11 09:09] darrenjacoby commented on #82
@pridyok could you give me a use case of code that's now broken? I think it's because $post is only being passed in App, and not Controllers that live up the hierarchy. But just want to confirm with some of your code.

[2018-05-11 09:14] codepuncher opened #84 "Controller not loaded on Post Types named with underscores"
I've been trying to figure this out for a long time now as I assume it's most likely something I don't understand or am missing, but it seems that Post Types or templates with underscores in the naming just don't load a controller.

Scenario:
I have a Post Type 'volunteer_vacancy' and another called 'job_vacancy'. Accompanying them I have 2 controllers: `SingleVolunteerVacancy` and `SingleJobVacan

[2018-05-11 09:47] darrenjacoby commented on #67
Coming in 2.0.2. Closing for now.

[2018-05-11 09:47] #67 closed

[2018-05-11 09:49] darrenjacoby commented on #70
Haha, ok, this is working with 2.0.1.

[2018-05-11 13:52] natefoundry commented on #83
I updated my composer file to use ~2.0.1, then renamed the directory and namespace for each controller, but now I have this error:

[code]

[2018-05-11 13:54] darrenjacoby commented on #83
It needs to be PageHome.php to follow PSR4.

[2018-05-11 13:57] natefoundry commented on #83
That fixed it. Same for all the other controllers too (including `app.php`)?:

[code]

[2018-05-11 14:03] natefoundry commented on #83
Well, all that did was update me from 9.0.0 beta to 2.0.1. I still don't see the data fields on my page-home blade template.

[2018-05-11 14:12] christianmagill commented on #80
Yes, I'm working on 2.0.1

I'm using this filter...

[code]

[2018-05-12 20:08] troymcginnis commented on #82
@darrenjacoby I'm also experiencing this. If I put the following into my `App.php` constructor, it returns nothing:

[code]
Output:
[code]

If I move that code to a function on the class, everything works fine:
[code]

Output:
[code]

[2018-05-12 20:31] pridyok commented on #82
@darrenjacoby I have a trait that I load into App.php that pulls the values from an ACF flexible content field:

[code]

[code]

Initially I thought this may be an issue with implementing this in the trait, but when I tested moving the code to App.php it had the same results.

[2018-05-14 09:02] darrenjacoby commented on #82
Thanks guys, going to check this out now. I'll get back to you.

[2018-05-14 09:04] darrenjacoby commented on #83
I'll test this

[2018-05-14 09:12] darrenjacoby commented on #83
For the hierarchy, are you using `class FrontPage extends Controller implements Tree`, or using `protected $tree = true; ` in FrontPage.php? You would need to do that to inherit from PageHome.php

[2018-05-14 10:38] darrenjacoby commented on #82
OK, I see what's happening here. In the past, I created the class within the filter, so it could pull in $post. I cleaned up the Loader in 2.0.0 and as a result I create the Class outside the filter.

If I just init the class in the filter, it works as should. I'll include this in the next release. If you want a quick fix now that won't break on the upgrade, add this to `vendor/soberwp/controller/

[2018-05-14 10:43] darrenjacoby commented on #80
I don't think sitewide is a valid filter, is it? have you tried app?

[2018-05-14 12:35] christianmagill commented on #80
I add "sitewide" as a body class.

So I guess the issue becomes, that the Controller is clearing out all data not just data from other controllers.

In truth, once the other issues are resolved (run order of constructor and protected $data), I wont need to use the data filter directly, but if this behavior isn't going to be changed perhaps a note in the documentation will suffice.

[code]

[code]

[2018-05-14 12:40] darrenjacoby commented on #80
Yea, although, I do feel like respecting the filters would be good. I'm going to take a look at a possible way to solve. First thought is I could do a $data comparison (because that data is reaching Controller, but it's then filtering it out). So if there is extra data, then it could be assumed that it's being added from a filter and should be included in the final Controller data, regardless of i

[2018-05-14 18:02] natefoundry commented on #83
That did it. Thanks for the help.

[2018-05-14 18:30] #83 closed

[2018-05-14 18:33] #82 closed

[2018-05-15 21:43] pridyok commented on #82
Works great @darrenjacoby thanks :)

[2018-05-17 18:20] christianmagill opened #85 "ACF Fields Returning as Objects?"
Why does Controller change all arrays in ACF data into objects?

I would expect the data to return as instructed by the field object.

[2018-05-17 18:32] darrenjacoby commented on #85
Yea, that's true. The next version will have a filter to disable. Closing for now.

[2018-05-17 18:32] #85 closed

[2018-05-25 14:15] codepuncher opened #86 "Controllers for CPT Templates"
I've done a lot of looking into this through the reported issues, Discourse and on Google but I can't seem to find an answer for what I'm looking for. Maybe this is a very specific case-scenario where I may not be able to achieve what I'm trying to do.

I have a Post Type `event` which allows user to choose which template they want to use:
* single-event.blade.php (default)
* single-event-featured

[2018-05-25 18:33] darrenjacoby commented on #86
If you inspect the site, check the body classes. Can you send them to me?

That's the hierarchy that Controllers will follow and any of those classes could be used.

[2018-05-26 10:27] codepuncher commented on #86
Ah, I did try using some of the body classes as controller names like `EventTemplateSingleEventFeatured` but couldn't get it working.

Here's what I have on body:

[code]

Is this something that Controller supports yet?

[2018-05-29 15:04] d-a-v-e commented on #86
I'm having the same issue with a CPT. my body tag is this:

`class="wbspr_core_practice-template-default single single-wbspr_core_practice postid-117....."`

my controller

[code]
the template

is rendered, but the ACF variables as well as the test variable $test_text aren't found, eg:
[code]

[2018-05-30 08:51] d-a-v-e commented on #86
Ah, figured out my issue from this closed ticket:  #https://github.com/soberwp/controller/issues/63, should have read the original question for this ticket more closely, as I don't think my issue relates.

For anyone else having this problem though, cut template files typically aren't found by the controller owing to the underscore_then-dash pattern. To get around this tell the controller which te

[2018-06-06 18:42] christianmagill commented on #79
@darrenjacoby, Any update on 2.0.2? Waiting on this and the filter to disable returning ACF arrays as objects. Thanks

[2018-06-06 19:19] christianmagill commented on #67
@darrenjacoby, I'm not sure merging the options with the rest of the data is the right move. Maybe keep them in a separate $options array. If they are being merged however, I think the order in the array_merge should be swapped, so that the data for the current view overwrites the options instead of the other way around, as it is now. That way you might have a global option on the options page, th

[2018-06-10 12:21] darrenjacoby commented on #86
@codepuncher Controller uses [https://github.com/Brain-WP/Hierarchy](https://github.com/Brain-WP/Hierarchy) to determine the hierarchy (and therefore Controllers to load). You could raise an issue there regarding more granular control of post type templates. If updated there, Controller would work as expected above. I'm going to close for now as this could be considered edge case, but would recomm

[2018-06-10 12:21] #86 closed

[2018-06-10 13:55] darrenjacoby commented on #82
2.0.2 out now

[2018-06-11 14:48] thomascharbit commented on #67
Hi,

On 2.0.2 you are replacing all ACF data with data from the option page instead of merging them?
Cannot access current page ACF fields with 2.0.2..

[2018-06-11 14:55] darrenjacoby commented on #67
@thomascharbit are the fields named the same?

[2018-06-11 15:04] thomascharbit commented on #67
Hi @darrenjacoby thanks for helping 😃

Actually i have no options page, so no fields!
I just started a new project today, added some ACF fields on a CPT and added `$acf = true` to its controller.
A `@debug` in my view file show no ACF data.
If i comment out the part where the ACF module gets the options fields, it works.
If i downgrade to 2.0.1 it works too..

[2018-06-11 15:06] ecruhling commented on #67
I have the same problem as well; project was using 2.0.1 - I updated to 2.0.2 this morning and no ACF fields are being returned. I have no options page.
Rolling back to 2.0.1 and it works as expected.

[2018-06-11 15:29] darrenjacoby commented on #67
Haha, shit. Let me take a look.

[2018-06-11 15:52] darrenjacoby commented on #67
Just re-released 2.0.2, try clear your cache and re-update, should work now.

[2018-06-11 15:58] thomascharbit commented on #67
Works for me, i have a PHP warning though:

`Warning: array_merge(): Argument #1 is not an array in /home/vagrant/(...)/vendor/soberwp/controller/src/Module/Acf.php on line 96`

[2018-06-11 16:04] darrenjacoby commented on #67
Ah sorry, working fast here, I'll fix that in a bit.

[2018-06-11 17:19] christianmagill commented on #67
I have the same warning and option fields do not make it to the template.

[2018-06-11 17:35] darrenjacoby commented on #67
@christianmagill it works from App. Are you using $acf = true on App.php?

[2018-06-11 17:46] christianmagill commented on #67
Yes, I am using $acf = true in App.php

[2018-06-11 18:51] mtx-z commented on #56
I haven't putted it in a method. It's directly in the function.php file. I guess you could put it in a method hooked on the "init" filter maybe.
So no static/public here as we're not in a Sober Controller.

[2018-06-11 19:18] marcelo2605 commented on #56
@mtx-z I believe it is only possible use static functions because public functions is running when the page is load (I'm using Sage starter theme).

[2018-06-12 18:45] runofthemill opened #87 "No tag/release for 2.0.2 :("
I just saw you pushed updates yesterday. Hooray! But I don't see a tag/release for 2.0.2 :P

[2018-06-12 19:21] darrenjacoby commented on #87
I did, but there were some issues I want to fix before tagging again.

[2018-06-12 19:21] darrenjacoby commented on #87
Closing for now, it's coming!

[2018-06-12 19:21] #87 closed

[2018-06-13 13:29] christianmagill opened #88 "2.0.2"
@darrenjacoby

Using the new 'sober/controller/acf/array' filter I get...

Notice: Undefined variable: rawFilter in ...vendor/soberwp/controller/src/Module/Acf.php on line 16

Notice: Undefined variable: rawFilter in ...vendor/soberwp/controller/src/Module/Acf.php on line 16

Notice: Undefined variable: rawFilter in ...vendor/soberwp/controller/src/Module/Acf.php on line 16

[2018-06-15 14:23] ligne13 commented on #88
I updated to 2.0.2 and I also have a bug with ACF fields :

[2018-06-15 22:04] darrenjacoby commented on #88
Use 2.0.1 for now! 2.0.2 is not tagged!

[2018-06-16 05:53] ligne13 commented on #88
OK, but how `composer update` found the 2.0.2 version ? I have "~2.0.1" in my composer.json.

thanks !

[2018-06-20 16:12] mike-source opened #89 "Updating to version 2.0.0 and above results in HTTP 500 Error"
I can load the front-end of my site normally locally (on MAMP with PHP 7.2.1) and soberwp/controller version 2.0.1, but when I tried to deploy onto SiteGround hosting (PHP 7.2.5) I got a HTTP 500 Error.

After troubleshooting I found that when using "soberwp/controller": "9.0.0-beta.4" via composer instead, the site loads as it should.

I am getting the following in the PHP error log on the server

[2018-06-20 16:50] mike-source commented on #89
never mind! It was fixed in this issue: https://github.com/soberwp/controller/issues/75#issuecomment-380134629

(see last post)

[2018-06-20 16:50] #89 closed

[2018-06-21 11:55] codepuncher commented on #86
Opened issue @ https://github.com/Brain-WP/Hierarchy/issues/14#issuecomment-399076198

For those who stumble upon this looking for a solution, open `filters.php`, find this:
[code]
and add this **before** it
[code]

This allows me to use my template `single-event-template-featured.blade.php` with a controller named `SingleEventTemplateFeatured`.

[2018-06-26 10:20] #88 closed

[2018-06-26 13:17] PUncle commented on #84
Should we avoid naming post types with underscores? I can't find any recommendation on this, and the warning in the readme about using `protected $template` for edge cases only has me thinking that I'm doing this wrong!

To use @codepuncher's example, would a controller called `SingleJobVacancy` work with `single-jobVacancy.blade.php` without the need for `protected $template = 'single-jobVacancy'

[2018-06-26 15:16] darrenjacoby commented on #84
Hi @PUncle no it wouldn't, you would need to specify the template. This is a limitation of PHP class names.

[2018-06-27 12:32] Muffinman opened #90 "What's up with the version numbers?"
I'm a bit confused why 2.0.1 is a newer release than 9.0.0-beta.4? What's up with the version numbers?

I notice that [roots/sage](https://github.com/roots/sage) is using 9.0.0-beta.4, is there anything special about these versions? Is it safe to switch to 2.0.1 and benefit from the extra features?

[2018-07-01 08:00] darrenjacoby commented on #90
When it was first released as a Composer package, I followed the Sage 9 versioning. Since then I've broken away from that and hence 2.0.0. It's safe, and recommended, to switch to 2.0.1.

[2018-07-01 08:00] #90 closed

[2018-07-03 13:52] craigpearson opened #91 "Controller support for child themes breaks in >2.0.0"
Roots supports child themes, and supports the overriding of all core app data and resources. Since sober/controller >= 2.0.0 behaviour of the controller breaks child themes with fatal errors

Previous to v 2.0.0 controllers were automatically inherited in child themes whether the controller file existed or not. Now a fatal error is thrown if the controller file present in parent is not also presen

[2018-07-03 14:03] darrenjacoby commented on #91
I'm assuming PSR4 autoloading is the cause of this. I wonder what the correct way to handle such situations is. PSR4 is def the better way to handle getting the Controller files vs scanning a folder and requiring the files. Let me do some research and see, open to suggestions on this.

[2018-07-03 14:10] craigpearson commented on #91
Yep PSR-4 is the reason behind it, I thought about tapping into traits to get around this issue of duplication as a middle ground. But after some deliberation I reached the conclusion that it'd be better to do something at autoload level, as a child theme should inherit by default and selectively override in it's nature

Let me know if there's anything specifically I can look into to assist / test

[2018-07-04 00:52] mtx-z commented on #56
Tested, and it works with public methods.

using
[code]

I'm able to ajax call

[code]

[2018-07-13 18:28] darrenjacoby commented on #88
I've reworked the ACF module, now placing `protected $acf = true;` in `App.php` automates all fields. It places the ACF options fields into a variable called `$acf_options`.

This means you no longer need to place `protected $acf = true;` in each Controller, or even create a Controller file for pages which just require ACF fields.

![image](https://user-images.githubusercontent.com/15921694/427076

[2018-07-16 14:14] christianmagill commented on #88
@darrenjacoby Thanks! Any update on 2.0.2? Are this issue and and the array to object filter available in master?

Thanks

[2018-07-16 14:17] darrenjacoby commented on #88
@christianmagill I updated dev-master over the weekend for testing. I'll tag it soon.

https://twitter.com/withjacoby/status/1017839898454261760

[2018-07-19 14:03] mattrn opened #92 "Controller for custom post templates wont load"
I am trying to create a controler for a custom post template with Sage 9.0.1 and 9.0.0-beta.4
This is my post template view(template-special.blade.php):
[code]

This is my controller (template-special.php):

[code]

With this setup, no data gets passed to to the view.

@debug('hierarchy') in the view returns:

    controllers/app.php
    controllers/index.php
    controllers/singular.php
    contr

[2018-07-19 14:23] darrenjacoby commented on #92
I would recommend upgrading to 2.0.1 to begin with, then let me know if the issue continues.

[2018-07-19 15:53] mattrn commented on #92
Hello darren, thanks for the fast response!
I upgraded to 2.0.1 and had to change the namespace for my controllers to `App\Controllers` and change the filenames to camelcase to get the site working again.

So my controller is now called TemplateSpecial.php
and my view is called template-special.blade.php.

The data is still not getting passed to the view but the debugger output changed:

App

[2018-07-19 16:10] darrenjacoby commented on #92
Can you show me the body classes for template-special?

[2018-07-19 16:14] mattrn commented on #92
when I use the template for a post:
[code]
when I use the template for a page:
[code]

[2018-07-19 16:50] darrenjacoby commented on #92
This is there, so it should be passing the data `template-special-data`

I'll need to see the actual code to help further, but I don't think it's a Controller issue.

[2018-07-20 06:19] Log1x commented on #92
`template-special-data` isn't showing up in his CPT, which is what he's having issues with. Same issue as #86.

You can find a solution [here](https://github.com/Brain-WP/Hierarchy/issues/14) until the dev branch of Brain-WP/Hierarchy is pushed to master along with [this](https://github.com/Brain-WP/Hierarchy/commit/bcdd745529a43fc68ae774ba9f68155e5742b95b) assuming it is functioning as intended.

[2018-07-20 08:10] darrenjacoby commented on #92
Ah right, thanks @Log1x

Yeah, waiting on the Brain-WP/Hierarchy release which should hopefully resolve this.

[2018-07-20 09:29] mattrn commented on #92
Thanks for the help.
The Brain-WP/Hierarchy might be the root of my issue, although I am not trying to get the controller working for a custom post type, but for `post type = post`.
Is this the same thing? I'm not sure on the terminology here.

[2018-07-20 09:33] darrenjacoby commented on #92
So, for the default post type? Then it should work.

[2018-07-20 10:33] mattrn commented on #92
Yes the default post type and I need a controller for all `post type = post` posts that use a certaint blade template.
It works if I apply the template to 'post type = page' posts.
Sadly I cannot share the whole codebase, are there any files in particular you would like to see?

[2018-07-20 11:16] strarsis opened #93 "Handle form (POST/GET) requests"
@darrenjacoby: Are there examples for using the controller also for handling form POST/GET requests?

Somehow related: https://github.com/soberwp/controller/issues/78

[2018-07-20 12:40] darrenjacoby commented on #93
@strarsis not at the moment

[2018-07-20 13:17] strarsis commented on #93
@darrenjacoby: So as alternative I would have to use native PHP `$_POST`?

[2018-07-27 08:32] darrenjacoby commented on #93
@strarsis yep

[2018-07-27 08:32] #93 closed

[2018-07-27 08:34] darrenjacoby commented on #92
@mattrn I would need to see your App/Controller and resources/views/ folders to try recreate

[2018-07-27 10:03] darrenjacoby commented on #80
Working on dev-master now. Please feel free to test before I tag.

[code]

![image](https://user-images.githubusercontent.com/15921694/43314724-16acebdc-9194-11e8-83a6-184d8dc18ab0.png)

[2018-07-27 10:03] #80 closed

[2018-07-27 18:43] christianmagill commented on #80
@darrenjacoby I'm getting an error when installing the package through composer using

"soberwp/controller": "dev-master",

and

"minimum-stability": "dev",

[code]

[2018-07-28 09:18] darrenjacoby commented on #80
@christianmagill thanks for picking this up, are you using `sober/controller/acf/array` filter? I'll push a fix now.

[2018-08-01 11:40] darrenjacoby commented on #92
@mattrn any updates here?

[2018-08-02 09:03] mattrn commented on #92
I have now created a whole new Sage project and could reproduce the issue.
This is what I did:
- Set up a standard Wordpress installation
- Created a Sage project via composer
- Upgraded soberwp/controller to 2.0.1
- Added a controller and blade template for a page template
- Added a controller and blade template for a post template

Outcome:
-The controller for the page template works as expected

[2018-08-02 09:07] darrenjacoby commented on #92
@mattrn thank you, I'll check this out now

[2018-08-02 09:54] darrenjacoby commented on #92
Cool, confirmed, this was added to WP 4.7.

This needs to come from one of the deps though, it's been coded but not yet tagged. I have asked for an eta. See here https://github.com/Brain-WP/Hierarchy/issues/15

Once this is tagged, it will work for Controller.

I noticed on your repo though that you're using folder name `controller/`. It should be `Controller/` to comply with PSR-4.

[2018-08-02 10:34] mattrn commented on #92
Alright, thanks for the help!

[2018-08-06 21:42] darrenjacoby commented on #92
In the meanwhile, here's another workaround.

You could use a body_class filter to add a `-data` class to a specific post template. For example, in app/filters.php;

[code]

Then you could create a Controller called `CustomPostTemplateName.php` and it will work. Controllers are just run on body classes, so there is flexibility around customising them.

[2018-08-08 11:50] storybynumbers opened #94 "Unable to pass all fields from ACF to the view"
Hi folks,

I noticed that my ACF fields disappeared once I setup a custom Controller for my template. According to the docs, these can be automatically passed by setting the $acf property to true. That isn't working for me.

My controller:

[code]

And if I inspect from the template:

[code]

The output is missing my ACF fields (header_cta, header_image, etc):

[code]

I can access the data throug

[2018-08-08 12:15] darrenjacoby commented on #94
Hey @storybynumbers

You need to get the latest version. I would recommend dev-master for the next few days (as that includes passing in acf option page values automatically). I will be tagging 2.1.0 this week, which will include those changes. Let me know if that solves it for you.

[2018-08-08 12:34] mattrn commented on #92
Hello Darren,
thanks for the tip! I have implemented it like this and its working:
[code]
I guess I will continue with this workaround and upgrade as soon as the new version is available.

[2018-08-08 12:36] darrenjacoby commented on #92
@mattrn good to hear.

I'm going to tag a new release of Controller this week (2.1.0), and then will pull in the dev-master version of WP_Hierarchy on the Controller dev-master so that we can begin testing the post templates implementation.

[2018-08-08 12:52] storybynumbers commented on #94
Hey Darren, great to hear from you!

I tried running off dev-master, but came across errors:

[code]

Shall I check back later after 2.1.0 is tagged?

[2018-08-08 12:58] darrenjacoby commented on #94
@storybynumbers you need to upgrade to PSR4 loading.

Here's the changes to be applied;
https://github.com/roots/sage/pull/2025/files

[2018-08-08 13:01] darrenjacoby commented on #94
I've gone ahead and added this to the README file.

[2018-08-08 13:34] storybynumbers commented on #94
That worked for me, @darrenjacoby. Thanks!

For anyone else with the same problem: take note of Darren's [instructions in the README](https://github.com/soberwp/controller/commit/9aac796d7fa8bc1d8697c76f9c16d47a92a45d79). The `controllers/` folder must be renamed to `Controllers/`, and class filenames need to have camelcase.

So in my case, `controllers/template_blog.php` became `Controllers/Templ

[2018-08-08 14:03] darrenjacoby commented on #94
No problem! Closing.

[2018-08-08 14:03] #94 closed

[2018-08-08 14:06] darrenjacoby commented on #94
Also I'm visiting Amsterdam in the next month or two (and possibly moving there next year), as a drunk guy too, bar suggestions welcome.

[2018-08-14 17:08] runofthemill opened #95 "Error using @code - Call to undefined method Sober\Controller\Utils::doesStringContainMarkup()"
On `0e1522c1fcb47a503d468d45037c23e80867cde7` - appears there's no method of that name in `Utils.php`

[2018-08-14 17:54] darrenjacoby commented on #95
Oops, just pushed Utils to `dev-master`, give it a go now.

[2018-08-15 16:07] shaneparsons commented on #92
@darrenjacoby Any ETA on when 2.1.0 is going to be released?

[2018-08-15 16:17] darrenjacoby commented on #92
@shaneparsons Likely this coming Sunday.

[2018-08-18 13:58] OwenMelbz opened #96 "[Question] Moving composer.json"
Hi - love the idea of this package, however having some problems customising something.

We want to use our root `composer.json` to handle the dependencies rather than one inside a theme folder.

When I add it to our main one via `composer require soberwp/controller` it installs fine.

We then update the autoload paths in the root composer to

[code]

`Fatal error: Uncaught Symfony\Component\Debug

[2018-08-18 15:35] darrenjacoby commented on #96
@mcaskill nice solution

[2018-08-19 08:58] #96 closed

[2018-08-28 17:00] runofthemill opened #97 "@code outputs invalid variable reference for cloned repeater"
Given the following ACF structure:

![screen shot 2018-08-28 at 9 56 54 am](https://user-images.githubusercontent.com/8418440/44738114-c324da00-aaa8-11e8-970f-e28a19634adc.png)
![screen shot 2018-08-28 at 9 58 22 am](https://user-images.githubusercontent.com/8418440/44738157-f23b4b80-aaa8-11e8-96be-b93266ef27c6.png)

`@code` produces the following output:

[code]

The first if statement correctly

[2018-08-28 18:01] darrenjacoby commented on #97
@runofthemill thanks, I'll take a look at this. `@code` is def still pretty experimental so let me know if you pick up anything else.

[2018-08-28 18:11] runofthemill commented on #97
will do!

[2018-09-12 13:57] codepuncher opened #98 "Class 'Illuminate\Support\Debug\Dumper' not found"
With [Illuminate\Support](https://github.com/illuminate/support) being updated to 5.7.x, we lose the Debug namespace and classes. Looks like they've replaced it with Symfony Dump Server https://laravel.com/docs/5.7/releases.

Take this as a note for those that come across this issue until it is resolved.

[2018-09-12 19:51] slackday commented on #70
Hi @darrenjacoby can you test this again? I'm having the same problem and I have tried updating to 2.1.0.

When assigning a custom page template the normal Page controller is loaded. And I don't use `$tree = true` on the custom template controller.

[2018-09-12 20:12] darrenjacoby commented on #70
@slackday I'm pretty busy for the next month but will take a look when I have a chance.

[2018-09-13 02:49] petersontubini opened #99 "Methods from App it's not being inherit by footer/header views"
I'm trying to create a global function that I'll use on footer and header but I can't, it's saying undefined function.

[2018-09-13 03:06] #99 closed

[2018-09-13 19:38] christianmagill commented on #88
@darrenjacoby Any update on when this will be tagged?

Thanks,

[2018-09-13 20:55] darrenjacoby commented on #88
2.1.0 is tagged, which is the latest.

[2018-09-13 21:00] christianstclair opened #100 "composer require"
I've been trying to get the newest version of Controller so I can start integrating ACF into my theme setup but when I run
`composer require soberwp/controller:2.1.0`

I'm given the following error
[code]

Heres my composer.json
[code]

[2018-09-14 07:59] codepuncher commented on #100
If your lock file isn't up to date, try running `composer update` and it should install it for you.

[2018-09-14 13:48] christianmagill commented on #88
Oh thanks, decimal places elude me.

[2018-09-15 18:54] thomascharbit opened #101 "ACF module with a term controller"
Using `$acf = true` on a term controller (for taxonomy term template like _taxonomy-$taxonomy.blade.php_) is returning the wrong fields for me.

It returns the loop first post fields instead of the actual term fields.
It works correctly if there is no posts in the loop (term with no linked posts).

I guess the issue comes from the use of ACF's `get_fields()` function, which needs more context to u

[2018-09-17 07:15] darrenjacoby commented on #100
@christianstclair did that resolve it for you?

[2018-09-17 07:15] darrenjacoby commented on #98
@codepuncher thanks for the heads up. I will take a look at changing.

[2018-09-17 20:04] christianstclair commented on #100
@darrenjacoby unfortunately not, I just ended up leaving it as "~9.0.0-beta.4" like it is when you install sage 9 fresh.

I still don't know why my composer has been having issues. I was running into the same issue with some other packages. Tried setting my "minimum-stability" : "dev" but still no luck.

[2018-09-19 11:32] thomascharbit commented on #101
thanks @darrenjacoby!

[2018-09-20 22:36] lhilton opened #102 "Acf Module Warning when no ACF fields on page"
On some pages a warning will be shown when a given page has not ACF fields. The message is:

`Warning: array_merge(): Argument #2 is not an array in /sites/testsite.test/www/wp-content/themes/testtheme/vendor/soberwp/controller/src/Controller.php on line 151`

The issue is that in `Module/Acf.php` it is possible for the `setData()` function to set `$this->data` to a boolean false, I am guessing th

[2018-09-27 19:07] slackday commented on #70
I had some time today to tackle this problem again. Turns out it was not an issue with the Controller itself but rather an upstream error in `brain/hierarchy` which the Controller uses.

When a page with a custom template is in preview (before it is saved first time) it does not have a `page_name`. The hierarchy would return standard Page/Singular hierarchy.

I suspect the reason this would work f

[2018-10-09 23:27] briggySmalls opened #104 "Controller requires sage namespace to be App"
First: Thanks for a wonderful tool. I appreciate all the work you people are doing 🙇

Upgrading my Sage theme to 9.0.5 has lead to no controllers being found - breaking my site - because I have changed the Sage namespace from the default `App`. I am greeted with the error:
[code]
Along with the path for the compiled `page-header.blade.php` with its reference to the `App` controller.

I have traced

[2018-10-09 23:32] briggySmalls commented on #104
It strikes me that any solution will probably require a small modification to Sage in order to work.

For example, if we could assume that Sage's `setup.php` contained the line:
[code]

Then a function similar to below could be added to `controller.php`:
[code]
I have found this to work for my situation.

[2018-10-10 09:08] darrenjacoby commented on #102
I have noticed this and also wrote a fix, I'll compare with your PR to resolve this weekend.

[2018-10-15 00:14] Log1x commented on #98
[code]

[2018-10-15 07:33] darrenjacoby commented on #98
Thanks @Log1x

[2018-10-15 07:33] #98 closed

[2018-10-15 07:35] darrenjacoby commented on #70
Thanks for investigating @slackday , it looks like progress is being made over at brain/hierarchy. I will close this for now, and update the version of brain/hierarchy on dev-master soon.

[2018-10-15 07:35] #70 closed

[2018-10-17 12:20] #104 closed

[2018-10-23 20:21] dividemysky opened #107 "Warning in 'setDatafromModuleAcf' when 'setDataReturnFormat' doesn't return an array"
Hello -

I'm running into an issue where a lot of Warning spam is being created by the __setDatafromModuleAcf and __setDataFromFilter methods when the data returned by $this->classAcf->getData() is not an array, e.g.:

[code]

I'm running PHP 7.1.12 - not sure if that is why I'm seeing all these warnings.

I was able to resolve by wrapping the data set in __setDatafromModuleAcf with a check for an

[2018-10-23 20:22] #107 closed, assigned to nobody

[2018-10-23 20:50] darrenjacoby commented on #107
Thanks @dividemysky , I will get this tagged soon, it's been a busy month for me, but latest 1st November.

[2018-10-24 11:09] OwenMelbz opened #108 "Lifecycle / hook for when the_post is available"
Hi - currently we have 2 hooks for `__before` and `__after` however it would be good to have a hook available once the post was ready.

For example it means you could do something like

[code]

Normally you'd do something like this in a `__construct` but as this fires before everything is booted.

Does this make sense?

[2018-10-24 11:28] darrenjacoby commented on #108
I can look into getting a __ready hook added for the next release.

[2018-10-30 12:06] adviva commented on #102
Hi there! Any update?

[2018-11-02 07:34] darrenjacoby commented on #102
@adviva this weekend, sorry. Last weekend was my birthday so it got away from me.

[2018-11-02 11:21] adviva commented on #102
@darrenjacoby thank you for replying me and happy b day 😄 🎉

[2018-11-08 19:21] ajoah opened #110 "Controller is loaded twice"
## Submit a feature request or bug report

- [X] I've read the [guidelines for Contributing to Roots Projects](https://github.com/roots/guidelines/blob/master/CONTRIBUTING.md)
- [ ] This is a feature request
- [X] This is a bug report
- [X] This request isn't a duplicate of an [existing issue](https://github.com/roots/sage/issues)
- [X] I've read the [docs](https://roots.io/sage/docs) and [NPM Deb

[2018-11-12 08:45] pfalomo commented on #102
thank you @darrenjacoby

[2018-11-13 18:21] davejtoews commented on #84
I just ran into this issue myself and I think this should either be fixed or highlighted in the docs. Wordpress' [`register_post_type()`](https://developer.wordpress.org/reference/functions/register_post_type/) explicitly allows underscores and [built-in post types](https://codex.wordpress.org/Post_Types) such as `nav_menu_items` opt for underscores over. I've been in the habit of using underscore

[2018-12-03 19:34] darrenjacoby commented on #92
dev-master has 2.4 for Brain Hierarchy which should resolve this.

[2018-12-03 19:34] #92 closed

[2018-12-03 19:35] #102 closed

[2018-12-04 03:44] slamorte opened #112 "Controller files not updated when using docker"
We recently switched workflows and now run our local environment using docker — specifically using lando's wrapper on docker. My partner moved from vagrant, I moved from MAMP, where this project worked great (so we know it's not our SoberWP config that's the issue).

Now, strangely, any updates in app/Controllers/ are not reflected in the rendered page.

If in App.php there's an object `hellobar`

[2018-12-08 01:45] slamorte commented on #112
Update:

Solved by upgrading `roots/sage-lib 9.0.0-beta.4` to latest, and `soberwp/controller` from 2.0.1 to 2.1.0.

[2018-12-08 01:45] #112 closed

[2018-12-11 09:43] darrenjacoby commented on #108
@OwenMelbz I'm looking at getting this added, but before I do, can you give me a use-case for this? Could the same not be achieved with __after() as all the data is loaded then?

[2018-12-11 09:54] OwenMelbz commented on #108
This might be achievable with the __after() but we couldnt see how :D

So the situation we had was that we needed to access the HTML from `the_content` THEN set a variable for the template. e.g. so it was something like

[code]

So in our blade template we can then use `$manipulated_content` rather than `the_content` and we also get `$extras`.

The reason we had to do this was because in the CMS t

[2018-12-11 10:19] darrenjacoby commented on #108
You could use `after()`, for example;

[code]

This would overwrite the existing `post_content` content.

I could include `__ready()` in which case, `$this->data['post']` would be available in Controller, but I'm not sure how widely it would be used.

[2018-12-11 10:31] darrenjacoby commented on #108
I think it's raw, but you can apparently do this to apply filters;

[code]

[2018-12-11 10:37] OwenMelbz commented on #108
Right lol - I think this is why I came to the conclusion that it started to get quite messy.

Personally I feel the example I provided is clean and descriptive which is why I was hoping we could use the hooks more effectively

[2018-12-11 10:58] darrenjacoby commented on #108
So there's one of two improvements I could make.

I could either create $this->post with all $post object, which would be easy to get title, permalink, content, etc. (eg. $this->post->post_title)

Or I could use `setup_postdata($post)` to make the hooks work. I guess this would be more inline with what users are used too, and would make your example above work. It just feels nasty, but that's WP I

[2018-12-11 11:20] darrenjacoby commented on #108
Having testing more, `get_the_content()` is the only function that has an issue running in a controller. `get_the_title()`, `get_permalink()`, etc all work as expected. So this is looking pretty edge-case.

[2018-12-11 11:38] darrenjacoby commented on #101
I see no problem using `get_queried_object()` for ACF fields, so I've gone with that approach.

All results seem like what we want in this case, https://codex.wordpress.org/Function_Reference/get_queried_object

Included in next release.

[2018-12-11 11:38] #101 closed

[2018-12-11 11:54] darrenjacoby commented on #110
It's true that `__construct` is run twice, it was related to this issue;

https://github.com/soberwp/controller/issues/82

The reason was so that users could use `__construct` and have access to `$post` from there. This can only happen in this filter, `add_filter($location, function ($data) use ($container, $class) {}`, but I needed to init the class prior to that to get certain config options.

T

[2018-12-11 11:57] #108 closed

[2018-12-11 12:48] thomascharbit commented on #101
Awesome, thanks again

[2019-01-23 17:15] christianmagill opened #114 "ACF error on archive and 404 pages."
Fatal error: Uncaught ErrorException: Invalid argument supplied for foreach() in /html/app/plugins/advanced-custom-fields-pro/includes/api/api-value.php:702 Stack trace:

#0 /html/app/plugins/advanced-custom-fields-pro/includes/api/api-value.php(702): App\{closure}(2, 'Invalid argumen...', '/home/...', 702, Array)

#1 /html/app/plugins/advanced-custom-fields-pro/includes/api/api-template.php(213):

[2019-01-23 17:24] darrenjacoby commented on #114
@christianmagill Hmm, just want to make sure that you're on the latest version?

[2019-01-23 17:27] christianmagill commented on #114
@darrenjacoby Thanks for the quick response!

Yes I am on 2.1.1, although the error also exists in 2.1.0. I updated in an effort to fix the issue to no avail.

Running ACF 5.7.10 as well.

[2019-01-23 17:40] darrenjacoby commented on #114
@christianmagill does the error persist if you add an advanced custom field to a category/taxonomy? I haven't experienced this issue on 2.1.1 but I know it was an issue on 2.1.0 if I recall.

[2019-01-30 00:49] synio-wesley opened #115 "ACF fields not coming through for custom fields on archives"
It looks like setting `protected $acf = true;` and then using `$acf_variable` returns an empty string for other languages with WPML... But `get_field('acf_variable')` does work.. Is this a bug? or missing functionality?

[2019-02-05 02:24] dotsam opened #116 "Undefined variable $last when debugging with only one class"
Commit 0e92b7d looks to have been intended to fix a bug where `@debug` would print the `App` class twice, but appears to have had the unintended side effect of throwing errors when only one class is loading for a request.

Submitting a PR in a moment with a fix that moves all of the checking for first/last classes inside the count > 1 conditional. This should skip checking for first/last if there'

[2019-02-06 09:16] darrenjacoby commented on #97
I wonder how often users are using `@code` and if it's worth maintaining vs dropping in favour of `@debug`. I myself don't use it much these days. Thoughts?

[2019-02-06 09:20] darrenjacoby commented on #115
I'm wondering if this may be an issue with ACF or WPML itself. The ACF module in Controller is pretty simple, using the ACF function `get_fields` to get all the fields.

[code]

[2019-02-06 09:20] darrenjacoby commented on #116
Thanks for the PR, merged in dev-master and will tag soon.

[2019-02-06 09:20] #116 closed

[2019-02-06 10:16] synio-wesley commented on #115
@darrenjacoby I found out that this is related to the problem. Because the get_queried_object() returns the custom fields of one of the products in the `ArchiveProduct` controller, probably because of how the loop works. I worked around this for now by overriding the `__after()` function and then setting `$this->data` to `array_merge($this->data, $acfData)` where `$acfData` contains data I retriev

[2019-02-06 10:31] synio-wesley commented on #115
Sorry, upon further inspection it does look like I'm mixing up two separate problems I have had with SoberWP here... feel free to close the ticket, because I'm mixing things up now.

I can open up 2 new tickets where I explain the 2 (different) problems I have had separately (and my workaround for them). That would probably be better?

[2019-02-06 10:35] #115 closed

[2019-02-06 14:43] slackday commented on #115
Are you using the WPML ACF plugin? https://wpml.org/documentation/related-projects/translate-sites-built-with-acf/

I'm curious because I have never ran into this issue myself.

[2019-02-06 18:14] runofthemill commented on #97
Hard to say...I haven't been actively working on any Sage 9 projects for the past few months. Maybe add a deprecation notice with a vague timeline, just to let people know it'll be removed "in the future"?

[2019-02-19 20:31] dotsam commented on #114
I'm able to duplicate this on the 404 page, but not on an archive page.

The behavior I'm seeing on a 404 page seems to be completely an ACF bug, as I can replicate it on a stock WP 5.0.3 install w/ ACF 5.7.12 and the twentynineteen theme. Calling ACF's `get_field_objects()` on a 404 page here produces the same error. ACF has some logic that defaults to `'post'` with an ID of 0 or null, and then a

[2019-02-22 19:40] christianmagill commented on #114
@darrenjacoby Sorry for the late reply, I've been off of the related project for a bit.

The issue does not appear on category/taxonomy pages, but it does also appear on the front/index view when a page is not assigned.

[2019-03-01 16:25] mmirus commented on #114
Replicated on 404 and on a CPT archives.

Temporarily worked around it like this:

`App.php`

[code]

My understanding is that `get_fields` accepts any of the following:

- post ID
- post object
- user object
- term object
- comment object
- the strings 'option' or 'options'

Controller passes `get_queried_object()` to `get_fields()`. In the case of a 404, `get_queried_object()` returns `NULL`, an

[2019-03-03 04:46] christianmagill commented on #114
@mmirus I believe your work around while preventing the error, would also prevent acf option fields from being loaded as well.

[2019-03-04 17:07] mmirus commented on #114
@christianmagill  - I just noticed that what I'm seeing is not 100% the same as what you're experiencing. I'm not actually getting an error, just a warning, and my message traces back somewhere slightly different:

`Warning: Invalid argument supplied for foreach() in /mnt/c/Users/mmirus/valet/thelibreinitiative/wp-content/plugins/advanced-custom-fields-pro/includes/acf-meta-functions.php on line 9

[2019-03-04 17:18] mmirus commented on #114
You might also be able to use my workaround and then just manually fetch the options in your controller with something like this:

[code]

[2019-03-04 17:53] darrenjacoby commented on #114
Sorry everyone, I'll get this fixed as soon as I get a chance! Been swamped under last month so still catching up a little.

[2019-03-04 17:54] mmirus commented on #114
No worries, take your time. Appreciate all the work you've put into Controller to make it such a useful tool for us.

[2019-03-07 18:53] abelthomas commented on #56
You **can** define the `wp_ajax_` actions within the `__construct()` method of a controller. The trick is to define the callback method as a `static` function, instead of `public`.

Here's an example:
[code]

If the callback were defined as a normal `public function`, the `die()` statement would break the page, since all public functions are automatically exposed to the respective view. Defining t

[2019-03-07 19:06] #97 closed

[2019-03-23 10:20] ligne13 opened #118 "How to run code in constructor only if current page matches the controller ?"
I would like to run some code I've put in my constructor but only if the current page uses the Controller. I've tried to use get_the_ID() to check the current page ID but it returns false.

By the way, I find strange that every Controller constructor is run whatever the page/post/template is displayed. I think the purpose of Controllers based on WP hierarchy is to run only if the Controller matche

[2019-03-29 11:11] fiskhandlarn opened #119 "Remove composer/installers dependency?"
As far as I can see `composer/installers` isn't used in this repo. Is it a remnant from Sage? Eitherway, could the dependency be removed?

[2019-03-29 14:01] darrenjacoby commented on #119
Yep, it could be.

[2019-03-29 18:45] tillkruss opened #122 "ACF vars with dash"
I'm working with ACF variables named with dashes: `program-notify-form`.

Is there any chance we can support them directly in templates as `$program_notify_form`?

[2019-03-29 18:47] darrenjacoby commented on #122
I'm assuming you are you using the acf module to automate the fields?

[2019-03-30 01:11] tillkruss commented on #122
Yes, I'm just setting `$acf = true` to get all fields.

[2019-04-02 17:28] codepuncher commented on #118
Have you tried using the `__before` or `__after` methods instead? They are used at different points of the controller execution ([see here](https://github.com/soberwp/controller/blob/76a4181e2ceb47232cb5fe0062512ce97b543bf5/controller.php#L66)).
Also, you can create a Controller for specific pages/posts by creating a controller named `Page508` instead of something like `TemplateCustom`. Anything i

[2019-04-03 08:22] ligne13 commented on #118
Hi @codepuncher ,

I finally used the hook `the_post` inside the __construct method, so I can access the post ID.

[code]

thanks !

[2019-04-03 08:22] #118 closed

[2019-04-11 23:49] eduardoarandah opened #124 "Controller not working on custom post type with underscores"
Controllers don't work when dealing with CPT that has underscores.

My CPT is **cnm_yacht**

template:
single-cnm_yacht.blade.php **works**!

Controller:
SingleCnmYacht Controller **doesn't work**

![imagen](https://user-images.githubusercontent.com/4065733/56002960-2820ef00-5c8a-11e9-932d-49127c61f6dc.png)

## Temporary solution is adding $template var to controller
but.. is there a better altern

[2019-04-12 13:12] matbrady commented on #124
@eduardoarandah I believe that is the best solution. https://github.com/soberwp/controller/issues/49#issuecomment-343627895

[2019-04-12 13:52] eduardoarandah commented on #124
CPT with underscores is pretty standard, is there a reason for this not to be automatic ?
Can I help?

[2019-05-13 18:28] bckcmo commented on #122
@darrenjacoby I have a proposed fix for this. I'm not sure if you welcome contributions, but I am going to go ahead and submit a pull request for you to review. Thanks!

[2019-05-27 16:21] voyou-sbeaulieu opened #127 "Error with woocommerce and ACF Invalid argument supplied for foreach()"
Hi, it's look's like a problem between Woocommerce template page and controller action.

Not really sure why but on the shop page from woocommerce `exemple.com/shop`

We use this root branch to use blade templating from woocommerce: `https://github.com/roots/sage-woocommerce`

It's working as expected on the product page. only the archive-product.php seems to have this problem and we can't figure

[2019-05-27 17:03] voyou-sbeaulieu commented on #127
Look like this is related to this issue : https://github.com/soberwp/controller/issues/114

and @mmirus do fix my problem. Is this patch live yet?

[code]

[2019-06-04 19:19] illycz commented on #67
I'm using 2.1.0 version and `"protected $acf = true;"` in App.php. And I don't get the options fields in blade template. Is there something I need to know?

Thanks

[2019-06-11 13:52] eduardoarandah opened #128 "Question: How to modify the loop?"
What would be the best approach to modify **the loop with filters in an archive page**?

Let's say I have a "boats" archive like this:

![imagen](https://user-images.githubusercontent.com/4065733/59276970-eaf2c200-8c24-11e9-9ec5-3e9fbaf15f72.png)

I'm solving it by modifying global $wp_query inside a function called wp_query() which gets called along the way.  like this:

[code]

**I can't find an

[2019-06-11 14:08] slackday commented on #128
I think this is best handled by modifying the query before it is executed. The `pre_get_posts` hook should have you covered. Have a look at https://wpshout.com/practical-uses-pre_get_posts/

[2019-06-11 16:02] eduardoarandah commented on #128
@slackday yeah, I thought about that, but then I thought:

If I do a `pre_get_posts` then I'd have to apply some conditions like `is_archive && get_post_type=="boat"` and that is exactly what the controller does for us.

What's your strategy to not get your code all scattered around? let's say you have 10 custom post types archives with filters. Where would you put your code and how?

[2019-06-12 10:50] slackday commented on #128
You are correct you have to do your own checks to determine when to modify your query. I usually create a separate file usually called `pre-get-posts.php` and include it in functions. This way at least I have all code that modifies the query in one place. Even if the controller follows WordPress templating I think your problem is outside of the scope of what it does. I prefer to keep to only to ha

[2019-06-12 13:06] eduardoarandah commented on #128
Awesome! Thanks man!

[2019-07-17 20:39] #128 closed

[2019-07-17 20:42] #119 closed

[2019-07-29 10:32] mtx-z opened #129 "Blade debug throws errors or not much data"
Hello!

Since my 2 last Sage projects with SoberWP, I had an issue with the debugging blade methods:

[code]

On my front page, it outputs this: https://ibb.co/0Gwc2ts

On a custom post type URL I get errors:

[code]

It's almost a completely fresh install. Do you have any idea why those debug methods don't work as they used to (for me)?

Stack:
- Laragon on Windows 10
- PHP 7.3

ty!

[2019-08-20 11:46] humet opened #132 "Suddenly stopped working"
Hi,

I have been using Roots Sage theme for the past few years with no issues.

Recently however the soberwp controller has stopped working and it has stopped passing classes and functions down to the blade templates. With a fresh Roots Sage install it will just return an error that it can't find the class App. If I 'use' the class manually directly in the template it will work fine.

I am using v

[2019-08-20 11:49] darrenjacoby commented on #132
Hey @humet , no changes have been made to Controller. I'll need to investigate if there has been changes to Sage 9.x.

[2019-08-20 12:12] humet commented on #132
There are a few people having a similar issue here: https://discourse.roots.io/t/another-class-app-not-found/16291

[2019-09-26 01:24] behzod commented on #132
Hey @humet,

If you are using VirtualBox, check if the guest additions on your VM match the installed version of VirtualBox. In my case, that was the root cause and upgrading VirtualBox resolved this issue.

When the guest additions do not match, it can prevent things such as shared folders from working properly. As a result, the function `\Sober\Controller\Loader::setListOfFiles` was not able to

[2019-09-26 06:57] thomasdebruin commented on #132
I'm having the same problem within my VVV 3.1.1 it seems the RecursiveDirectoryIterator is not returning a thing (tried php 7.1 7.2 and 7.3). On my colleagues machine we have VVV 2.5.1 with php 7.2.17 and there it works perfect. Both on ubuntu 18.04.2.

Only thing it returns when I print the filenames in the loop:
`
/srv/www/projectname/public_html/wp-content/themes/mytheme/app/Controllers/.
/srv/

[2019-09-26 07:41] humet commented on #132
@behzod Upgrading my Virtual Box to 6.0.12 fixed the problem! Thanks so much for the reply and suggestion.

[2019-09-26 08:08] thomasdebruin commented on #132
@behzod and @humet I can confirm this works, running 6.0.12 fixes the issue.

[2019-09-26 17:51] darrenjacoby commented on #132
Thanks for the feedback and information @humet and @thomasdebruin

[2019-09-26 17:51] #132 closed

[2019-09-26 17:51] #122 closed

[2019-09-26 17:51] #91 closed

[2019-10-26 22:43] andrewscofield opened #134 "Sage 10"
I'm trying the beta and doesn't work out of the box... I've installed it using composer already, but not really sure how to initialize it on Sage 10.

[2019-10-26 23:50] Log1x commented on #134
Sage 10 doesn't use this package. It uses Composers instead which are built in.

[2019-10-27 15:58] andrewscofield commented on #134
Yes, I realized that. I'm new to Composers and getting caught up. While reading the blog on [Sage 10 and Composers ](https://roots.io/working-with-composers-in-sage-10/) it mentions you can use both together and I was wondering how that works. Sounds like that is outdated info though?

[2019-10-27 19:59] Log1x commented on #134
Yeah, more than likely outdated. I'd urge you to avoid this package with Sage 10.

[2019-10-27 20:55] andrewscofield commented on #134
Got it, thanks.

Could you point me in the right direction for replacing a controllers static functions using Composers/Sage10? I guess I used to use those mainly for helper type of functions. Like formatting dates, hex2rgb, or site specific functions. Where would I put those in Sage 10 so they can be called from a blade view?

[2019-10-27 21:04] Log1x commented on #134
If you could close this and re-ask your question on Discourse of `what is the alternative to static functions from Controller using Sage 10 with Composer` – I'd like to answer that there so it's not hidden in a random issue.

[2019-10-27 21:06] #134 closed

[2019-11-04 09:50] ferromariano opened #135 "add Comment HTML"
Hi, I'm having a problem with the HTML comments that are added. I didn't find the right way to remove them. Nor compiling for production.

"sage": "9.0.9"
"soberwp/controller": "~2.1.0",
"roots/sage-woocommerce": "^1.0"

These are the comments:

[code]

PD: I loved this project :)

[2019-11-06 14:34] ferromariano commented on #135
my fake, sorry

[2019-11-06 14:34] #135 closed

[2019-11-29 20:31] dotsam opened #136 "Release new version"
Can we get a new release cut and pushed to packagist? There have been a number of helpful commits made since 2.1.1 was released almost a year ago, and it would be nice not to have to pull from dev-master in projects to get these fixes.

Thanks!

[2019-12-16 14:25] darrenjacoby commented on #136
Yes, I will tag another version this week!

[2020-01-16 17:43] Xilonz opened #137 "Partials folder conflicts with theme's partial folder."
The controller tries to load a partial (which has a trait, not a class) that has the same name as an partial in my theme's folder. Unfortunately I don't have time to set up a sage theme with an example.

This is somewhat expected, but not documented behavior. Is it possible to rename the Partials to Traits, for example?

eg: app/Controllers/Partials/example and resources/views/partials/example.bla

[2020-01-16 19:01] Xilonz commented on #137
Nevermind, this is totally not true. This message shows if there's only the main App contoller and nothing else.

[2020-01-16 19:01] #137 closed

[2020-01-16 19:11] Xilonz commented on #129
This error only shows if you have nothing else but the App controller in the current view.
Try create a Single.php blade controller and that would remove the error.
The data $data[1] is probably NULL when dumping the data var in Debugger.php

So far I can see this is only used for the debugger and doesn't affect anything else.

[2020-01-22 04:26] dotsam commented on #136
Just poking on this one again

[2020-03-01 08:59] #129 closed

[2020-03-01 09:10] darrenjacoby commented on #136
@dotsam Just to let you know I got version 2.1.2 tagged. Long overdue, sorry about that!

[2020-03-01 09:10] #136 closed

[2020-04-09 16:55] xaqrox commented on #124
Agreed that this is at least a minor bug that should be fixed. I don't have time right now to get to the bottom of it, but I tracked it to here:

https://github.com/soberwp/controller/blob/76a4181e2ceb47232cb5fe0062512ce97b543bf5/src/Controller.php#L63-L66

This seems backwards to me. Instead using the class name to determine the correct template, we should use the names of the current template an

[2020-04-15 11:09] codepuncher opened #138 "Can't use "Category" as a Controller"
Creating a Controller called `Category` to be used on Category archives e.g. `/category/category-slug` does not work.
The errors are:
[code]

Steps to reproduce:
1. Fresh installation of Bedrock + Sage
2. Create an empty Controller called `Category`
3. Create a Post with a Category called "Data"
4. View the "Data" category page

This seems to be only related to the name "Data" as "Uncategorized" w

[2020-05-05 14:46] alfacommunication-alessandro commented on #91
Any good strategy to inherit Controllers from parent theme?

[2020-07-11 07:26] AmirHosseinKarimi opened #139 "Pass ACF options fields from controller"
Hi, I am looking to a method to pass ACF options (theme options) to the view.
Its normally can get via `get_field('field_name', 'option')`

[2020-07-11 07:44] AmirHosseinKarimi commented on #139
Yea, I have found it in `$acf_options` variable.

[2020-07-11 07:44] #139 closed

[2020-07-30 22:19] totallyben opened #140 "9.0.0-beta.4 PHP 7.4 class ordering bug resulting in Fatal Error"
In 9.0.0-beta.4, in `Sober\Controller\Loader::setInstance()` there appears to be an issue when using PHP 7.4.  The code assumes that the last class returned by `get_declared_classes()` is the one that should be mapped to the template, however, in PHP 7.4 the final class returned is `Sober\Controller\Controller`.  This works correctly under PHP 7.3.

For example, under PHP 7.3, the results of a `va

[2020-08-30 10:35] Jamiewarb commented on #134
This link appears at the top of Google for a search on Sage 10 Controllers.

Any chance you could add a link to either of the above mentioned places for ease of navigation for other googlers? 🙏

[2020-09-05 17:39] darrenjacoby commented on #134
@Jamiewarb Sure, will add to the readme!

[2021-04-09 12:31] ianleckey opened #141 "PHP 8.0.3 warnings"
[code]

[2021-04-14 14:45] LiamMartens commented on #140
Was this ever picked up? Running into this issue

[2021-04-14 15:31] totallyben commented on #140
I don't believe so.  It's a shame as it would be great to have this minor fix in place to allow us to upgrade to php 7.4 without a more significant update.

[2021-04-14 15:51] darrenjacoby commented on #140
Hey @LiamMartens and @totallyben , I can look into getting it implemented.

However, if it's an option, I would recommend trying to upgrade to Sage 10 as their implementation of Blade Components and Composers is a step up from Sage 9+Controller. Have you tried upgrading to Controller 2.x.x? That is the more recent version vs 9.0.0-beta. Initially it was versioned to match Sage 9.

[2021-04-15 16:05] LiamMartens commented on #140
@darrenjacoby I'm in the same boat as @totallyben; don't have the time or resources to go and upgrade the projects.
I made a suggestion PR #142 - uses a similar namespace filter like in the new version so it can filter out which class is relevant

[2021-05-13 14:45] da-kicks-87 opened #143 "Static function Snake or Camel Case?"
What it best practice when naming a static function in the controller?
The guide mentions that with non static functions Camel case gets converted to Snake case.
WP core functions use snake case.  Would there be a reason then for using Camel Case for function names in WP?

[2021-05-13 14:48] darrenjacoby commented on #143
I would recommend camel case as per [PSR](https://siderlabs.com/blog/5-php-coding-standards-you-will-love-and-how-to-use-them-adf6a4855696/) guidelines, I would consider the WP coding standards questionable.

[2021-05-14 19:33] da-kicks-87 commented on #143
Thanks for your input. I typical use Camel case for functions and have them named as a verb.  The guide doesn't use a verbs for it's examples.

[2021-05-20 09:34] totallyben commented on #140
Hey @darrenjacoby

Just wondering if you were able to look into this?

[2021-05-27 14:34] #143 closed

[2021-05-27 14:38] darrenjacoby commented on #140
Hey all,

Reviewing this, but I would recommend an upgrade to 2.x.x, which solves the issue, as opposed to tagging another beta. Is upgrading not an option at all? It should have little impact on compatibility.

[2021-05-27 14:43] darrenjacoby commented on #141
Hi @ianleckey,

Fix pushed as 2.1.3, thanks for reporting.

[2021-05-27 14:43] #141 closed

[2021-05-27 14:45] #110 closed

[2021-05-27 14:51] darrenjacoby commented on #127
Pushed [bee62f](https://github.com/soberwp/controller/commit/bee62f4685371e09f6bb06ca27ba74cfd7bb509f) based on the above, not yet tagged but should remove the issue.

(Little late I know)

[2021-05-27 14:52] darrenjacoby commented on #114
Pushed bee62f based on the above, not yet tagged but should remove the issue.

(Little late I know)

[2021-07-30 09:03] kingkero opened #144 "Fatal error if ACF expected and not activated"
When `protected $acf = true;` in the Controller, but the plugin is not activated, this will create a Fatal error.

[code]

[2021-11-05 12:26] mbaxter91288 opened #145 "Getting ACF data on Archive page"
Hi There,

Not sure if I am missing something, but for Custom Post Types I tend to add a Settings page and attach an ACF Field group to this. On there I will add fields that are relevant for the Post Types archive page. I can't see a way to pass the ACF data for a custom options page. Currently, I've made 2 tweaks:

`Sober\Controller\Controller.php`

I added this field:
[code]

Then within the `__

[2021-11-08 19:42] mbaxter91288 commented on #145
With a fresh pair of eyes I found a more simple way to achieve this by using:

[code]

for example. Still might be useful to query a options page, but this will do for me...sorry if I wasted anyone's time.

[2021-11-08 19:42] #145 closed, assigned to nobody